
* {
	padding: 0;
	background-clip: padding-box;

	-GtkToolButton-icon-spacing: 4;
	-GtkTextView-error-underline-color: @error;
	-GtkScrolledWindow-scrollbar-spacing: 3;
	-GtkToolItemGroup-expander-size: 11;

	-GtkIMHtml-hyperlink-color: @link;
	-GtkHTML-link-color: @link;
	-WnckTasklist-fade-overlay-rect: 0;

	outline-color: @focus_border;
	outline-style: dashed;
	outline-offset: -2px;
	outline-width: 1px;
	-gtk-outline-radius: 2px;

	-gtk-icon-style: regular; /* disable symbolic icons */

	-GtkWindow-resize-grip-width: 11;
	-GtkWindow-resize-grip-height: 11;
}

view,
.view,
view text,
.view text,
iconview text,
textview text {
	color: @theme_text;
	background-color: @theme_base;
}

.background {
	color: @theme_fg;
	background-color: @theme_bg;
}

.link,
.link label {
	color: @link;
	text-decoration: underline;
}

*:selected,
*:selected:focus {
	color: @theme_selected_fg;
	background-color: @theme_selected_bg;
}

*:disabled {
	color: @insensitive_fg;
	text-shadow: 0.5px 1px @insensitive_text_shadow;
}

/* --- tooltip --- */

tooltip,
tooltip.background,
.tooltip,
.tooltip.background {
	/* 2px bigger @todo */
	color: @theme_tooltip_fg;
	border: 1px solid @theme_tooltip_border;
	background-color: @theme_tooltip_bg;
}

/* --- spinner animation --- */

@keyframes spinner {
	to { -gtk-icon-transform: rotate(1turn); }
}

spinner {
	color: @theme_fg;
	opacity: 0;
}

spinner:checked {
	animation: spinner 1s infinite steps(10);
	opacity: 1;
}

spinner:checked:backdrop { color: @backdrop_fg_color; }
spinner:checked:disabled { opacity: 0.5; }
