
/* --- buttons --- */

button {
	min-height: 16px;

	margin: 1px;
	padding: 4px;

	color: @theme_text;
	border-style: solid;
	border-color: @border;
	border-radius: 3px;
	border-width: 1px;

	background:
		transparent
		radial-gradient(
			ellipse 90% 50%,
			@button_glaze_glow_center,
			@button_glaze_glow_edge ),
		linear-gradient(to bottom,
			@button_glaze_top,
			@button_glaze_mid-a 49%,
			@button_glaze_mid-b 49%,
			@button_glaze_bot );
}

button.flat {
	border-color: transparent;
	background: transparent;
}

button:disabled {
	opacity: 0.3;
}

/* --- toolbars --- */

toolbar {
	padding: 1px 2px;
}

headerbar.titlebar,
toolbar.primary-toolbar {
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-top-color: @toolbar_border_lite;
	border-bottom-color: @toolbar_border_dark;
	background: transparent linear-gradient(to bottom, @toolbar_grad_top, @toolbar_grad_bot);
}

toolbar:disabled {
	color: alpha(@theme_fg, 0.6);
}

toolbar separator {
	margin: 7px 5px 8px;
	border-left: 1px @toolbar_separator_dark solid;
	border-right: 1px @toolbar_separator_lite solid;
}
