/* buttons.css: defines everything relating to buttons. */
/* Anything button-like styled in other css files is a bug -
  - most likely legacy definition from clearlooks theme, which should be moved here. */
/* Anything non-button-like styled here is likewise a bug. */

/* Quick ref on button states:
		- hover - mouse over button
		- focus - outlined/highlighted for space/enter on keyboard (via tab, arrow keys or click)
		- checked - pushed-in Gtk.ToggleButton, toggled on click or space/enter
		- active - pushed-in via mouse click, toggled on click/release
	Most combinations of these have to be described explicitly
		(e.g. "button:checked:focus:hover"), as each one uses custom background layers,
		which otherwise replace each other, and do not combine automatically. */

-ext {
	/* Definitions for often-repeated button background layers and borders */
	/* These are later composited in "background:" and "border-image:" rule values */

	-x-var-bg-glow:
		radial-gradient(
			ellipse 90% 50%,
			@button_glaze_glow_center,
			@button_glaze_glow_edge );
	-x-var-bg-glow-hover:
		radial-gradient(
			ellipse 110% 50%,
			@button_hover_glaze_glow_center,
			@button_hover_glaze_glow_edge );
	-x-var-bg-glow-hover-circle:
		radial-gradient(
			circle farthest-side,
			@button_hover_glaze_glow_center,
			@button_hover_glaze_glow_edge );

	-x-var-bg-glaze:
		linear-gradient(to bottom,
			@button_glaze_top,
			@button_glaze_mid-a 49%,
			@button_glaze_mid-b 49%,
			@button_glaze_bot );
	-x-var-bg-glaze-hover:
		linear-gradient(to bottom,
			@button_hover_glaze_top,
			@button_hover_glaze_mid-a 49%,
			@button_hover_glaze_mid-b 49%,
			@button_hover_glaze_bot );

	-x-var-bg-focus:
		no-repeat 3px 3px / calc(100% - 6px) calc(100% - 6px)
			linear-gradient(to bottom, @button_focus_fill, @button_focus_fill);
	-x-var-bg-focus-active:
		no-repeat 3px 3px / calc(100% - 6px) calc(100% - 7px)
			linear-gradient(to bottom, @button_focus_fill_active, @button_focus_fill_active);

	/* Pushed-in glow + top/left shadow + dark glaze */
	-x-var-bg-active-glow:
		radial-gradient(
			ellipse 110% 50%,
			@button_active_glaze_glow_center,
			@button_active_glaze_glow_edge );
	-x-var-bg-active-glow-circle:
		radial-gradient(
			circle farthest-side,
			@button_active_glaze_glow_center,
			@button_active_glaze_glow_edge );
	-x-var-bg-active:
		linear-gradient(to right,
			@button_active_glaze_shadow_edge,
			@button_active_glaze_shadow 2px,
			alpha(@button_active_glaze_shadow, 0) 4px,
			@null 4px, @null ),
		linear-gradient(to bottom,
			@button_active_glaze_shadow_edge,
			@button_active_glaze_shadow 2px,
			alpha(@button_active_glaze_shadow, 0) 4px,
			@null 4px, @null ),
		linear-gradient(to bottom,
			@button_active_glaze_top,
			@button_active_glaze_mid-a 49%,
			@button_active_glaze_mid-b 49%,
			@button_active_glaze_bot );

	-x-var-border-none: none 4 4 3 4 / 4 4 3 4 repeat;
	-x-var-border: url("img/border.png") 4 4 3 4 / 4 4 3 4 repeat;
	-x-var-border-dark: url("img/border-dark.png") 4 4 3 4 / 4 4 3 4 repeat;
	-x-var-border-focus-only: url("img/btn-border-focus.png") 4 4 3 4 / 4 4 3 4 repeat;
	-x-var-border-focus-outer: url("img/btn-border-focus-outer.png") 4 4 3 4 / 4 4 3 4 repeat;
	-x-var-border-focus-outer-checked: url("img/btn-border-focus-outer.png") 4 4 3 4 / 4 4 5 4 repeat;
}


button {
	color: @theme_text;
	min-height: 16px;

	margin: 1px;
	padding: 4px 0 3px 0;

	/* Note: setting consistent border-width everywhere prevents buttons "jumping" by 1px */
	border-style: solid;
	border-color: transparent;
	border-radius: 3px;
	border-width: 1px;
	border-image: -x-var-border;

	background:
		-x-var-bg-glow,
		-x-var-bg-glaze;
	background-color: transparent;
}

button:hover {
	background:
		-x-var-bg-glow-hover,
		-x-var-bg-glaze-hover;
}

button:focus {
	outline: none;
	border-width: 1px;
	border-image: -x-var-border-focus-outer;
	background:
		-x-var-bg-focus,
		-x-var-bg-glow,
		-x-var-bg-glaze;
}

button:focus:hover {
	background:
		-x-var-bg-focus,
		-x-var-bg-glow-hover,
		-x-var-bg-glaze-hover;
}

button:disabled:focus,
button:disabled {
	color: @insensitive_fg;
	border-image: none;
	border-radius: 3px;
	border: 1px @button_disabled_border solid;
	background:
		radial-gradient(
			ellipse 90% 50%,
			@button_disabled_glaze_glow_center,
			@button_disabled_glaze_glow_edge ),
		linear-gradient(to bottom,
			@button_disabled_glaze_top,
			@button_disabled_glaze_mid-a 49%,
			@button_disabled_glaze_mid-b 49%,
			@button_disabled_glaze_bot );
}

button:checked {
	/* Also used for mousedown effect on non-focus toolbar buttons */
	padding: 5px 0 2px 0;
	border-image: -x-var-border-dark;
	background:
		-x-var-bg-active-glow,
		-x-var-bg-active;
}

button:checked:focus,
button:checked:active:focus:hover,
button:active,
button:active:hover {
	/* Same as :checked + button:focus (orange fill + border) */
	/* Used for mousedown effect on all normal buttons as well */
	border-width: 1px;
	border-image: -x-var-border-focus-outer-checked;
	background:
		-x-var-bg-focus-active,
		-x-var-bg-active-glow,
		-x-var-bg-active;
}

button:checked:hover {
	/* Regular hover + slight shadow */
	background:
		-x-var-bg-glow-hover,
		linear-gradient(to right,
			alpha(@button_active_glaze_shadow_edge, 0.3),
			alpha(@button_active_glaze_shadow, 0.3) 3px,
			alpha(@button_active_glaze_shadow, 0) 5px,
			@null 5px, @null ),
		linear-gradient(to bottom,
			alpha(@button_active_glaze_shadow_edge, 0.3),
			alpha(@button_active_glaze_shadow, 0.3) 3px,
			alpha(@button_active_glaze_shadow, 0) 5px,
			@null 5px, @null ),
		-x-var-bg-glaze-hover;
}

button:checked:focus:hover {
	border-width: 1px;
	border-image: -x-var-border-focus-outer-checked;
	background:
		-x-var-bg-focus-active,
		-x-var-bg-glow-hover,
		linear-gradient(to right,
			alpha(@button_active_glaze_shadow_edge, 0.3),
			alpha(@button_active_glaze_shadow, 0.3) 3px,
			alpha(@button_active_glaze_shadow, 0) 5px,
			@null 5px, @null ),
		linear-gradient(to bottom,
			alpha(@button_active_glaze_shadow_edge, 0.3),
			alpha(@button_active_glaze_shadow, 0.3) 3px,
			alpha(@button_active_glaze_shadow, 0) 5px,
			@null 5px, @null ),
		-x-var-bg-glaze-hover;
}



/* --- Toolbars --- */

toolbar button {
	padding: 4px 6px;
}

toolbar button:hover {
	background:
		-x-var-bg-glow-hover-circle,
		-x-var-bg-glaze-hover;
}


/* --- Primary toolbar (big button bar at the top) and .flat buttons --- */
/* Don't have button-like background unless you hover over them */

toolbar.primary-toolbar button {
	padding: 4px;
	border-color: transparent;
	border-image: -x-var-border-none;
	background-image: none;
	background-color: transparent;
}

toolbar.primary-toolbar button:focus {
	border-width: 1px;
	border-image: -x-var-border-focus-only;
	background:
		-x-var-bg-focus;
}

/* Rule above will override :hover and such, hence restoring them here */
toolbar.primary-toolbar button:active { -x-same-rules: button:active; }
toolbar.primary-toolbar button:hover { -x-same-rules: button:hover; }

/* Only active/hover buttons have borders here */
toolbar.primary-toolbar button:active,
toolbar.primary-toolbar button:hover {
	border-image: -x-var-border;
}
toolbar.primary-toolbar button:focus:hover {
	border-width: 1px;
	border-image: -x-var-border-focus-outer;
	background:
		-x-var-bg-focus,
		-x-var-bg-glow-hover-circle,
		-x-var-bg-glaze-hover;
}

/* Pushed/toggled button (Gtk.ToggleButton) */
/* :active (mousedown) makes it look pushed-down (dark) even with :hover */

toolbar.primary-toolbar button.toggle -ext,
toolbar.primary-toolbar button.toggle:active:hover -ext { -x-same-rules: button:checked; }
toolbar.primary-toolbar button.toggle:hover -ext { -x-same-rules: button:checked:hover; }

toolbar.primary-toolbar button.toggle:focus,
toolbar.primary-toolbar button.toggle:focus:active:hover {
	/* button:checked (dark-bg + shadow) + button:focus (orange fill + border) */
	border-image: -x-var-border-focus-outer;
	background:
		-x-var-bg-focus,
		-x-var-bg-active-glow-circle,
		-x-var-bg-active;
}

toolbar.primary-toolbar button.toggle:focus:hover {
	/* same as button.toggle:focus but with bg layers from button:checked:hover */
	border-image: -x-var-border-focus-outer;
	background:
		-x-var-bg-focus,
		-x-var-bg-glow-hover-circle,
		linear-gradient(to right,
			alpha(@button_active_glaze_shadow_edge, 0.3),
			alpha(@button_active_glaze_shadow, 0.3) 3px,
			alpha(@button_active_glaze_shadow, 0) 5px,
			@null 5px, @null ),
		linear-gradient(to bottom,
			alpha(@button_active_glaze_shadow_edge, 0.3),
			alpha(@button_active_glaze_shadow, 0.3) 3px,
			alpha(@button_active_glaze_shadow, 0) 5px,
			@null 5px, @null ),
		-x-var-bg-glaze-hover;
}

/* Mousedown effect is same as button:checked without :focus */
/* Toolbar buttons don't seem to auto-grab :focus on click like normal ones do, hence +1 templated state here */

toolbar.primary-toolbar button:active -ext,
toolbar.primary-toolbar button:active:hover -ext { -x-same-rules: button:checked; }

toolbar.primary-toolbar button:focus:active -ext,
toolbar.primary-toolbar button:focus:active:hover -ext {
	-x-same-rules: toolbar.primary-toolbar button.toggle:focus; }

/* "button.flat" will be styled exactly like "toolbar.primary-toolbar button", incl. all of its states */
button.flat -ext { -x-same-rules-all: toolbar.primary-toolbar button; }


/* --- Spinbutton buttons --- */

spinbutton button,
spinbutton button:disabled,
spinbutton button:disabled:focus {
	margin: 0;
	border-radius: 0;
	border: 0;
}

/* XXX: all buttons get :focus when spinbutton itself does */
spinbutton button:focus {
	background:
		-x-var-bg-glow,
		-x-var-bg-glaze;
}
spinbutton button:focus:hover -ext { -x-same-rules: button:hover; }


/* --- end of buttons --- */



/* -------------------------------------------------- */

/* --- Misc legacy stuff from clearlooks --- */
/* XXX: check and remove it all from here */

/* XXX: check pushed + disabled button */
/* toolbar button:checked:disabled { */
/* 	background-image: linear-gradient(to bottom, */
/* 		@button_active_insensitive_gradient_a, */
/* 		@button_active_insensitive_gradient_b 3px, */
/* 		@button_active_insensitive_gradient_c 4px, */
/* 		@button_active_insensitive_gradient_d 50%, */
/* 		@button_active_insensitive_gradient_e 50%, */
/* 		@button_active_insensitive_gradient_f); */
/* 	background-color: transparent; */
/* } */

/* XXX: check path bar element - should be buttons? */
/* .path-bar button, */
/* .linked.path-bar > button, */
/* .path-bar button image, */
/* .path-bar button label { */
/* 	padding: 2px; */
/* } */
/* .path-bar button { */
/* 	border-width: 1px 0px 1px 1px; */
/* } */
/* .path-bar button:first-child, */
/* .path-bar button:first-child:hover:active { */
/* 	border-right-width: 0px; */
/* } */
/* .path-bar button:only-child, */
/* .path-bar button:only-child:hover:active { */
/* 	border-radius: 3px; */
/* 	border-right-width: 1px; */
/* } */
