
/* --- toolbars --- */

toolbar {
	padding: 1px 2px;
}

headerbar.titlebar,
toolbar.primary-toolbar {
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-top-color: @toolbar_border_lite;
	border-bottom-color: @toolbar_border_dark;
	background: transparent linear-gradient(to bottom, @toolbar_grad_top, @toolbar_grad_bot);
}

toolbar:disabled {
	color: alpha(@theme_fg, 0.6);
}

toolbar separator {
	margin: 7px 5px 8px;
	border-left: 1px solid @toolbar_separator_dark;
	border-right: 1px solid @toolbar_separator_lite;
}

/* --- buttons --- */

button {
	margin: 1px;
	padding: 4px;
	min-height: 16px;
	color: @theme_fg;
	border: 1px solid @button_border;
	border-radius: 3px;
}

button:disabled {
	border-color: @button_border_disabled;
}

button.flat {
	border-color: transparent;
	background: transparent;
}

button.flat:disabled {
	border-color: transparent;
	background: transparent;
	opacity: 0.3;
}

/* --- buttons background --- */

button,
spinbutton button:focus {
	background:
		transparent
		radial-gradient(
			ellipse 90% 50%,
			@button_glaze_glow_center,
			@button_glaze_glow_edge ),
		linear-gradient(to bottom,
			@button_glaze_top,
			@button_glaze_mid-a 49%,
			@button_glaze_mid-b 49%,
			@button_glaze_bot );
}

button:hover,
spinbutton button:focus:hover {
	border: 1px solid @button_border;
	background:
		radial-gradient(
			ellipse 110% 50%,
			@button_hover_glaze_glow_center,
			@button_hover_glaze_glow_edge ),
		linear-gradient(to bottom,
			@button_hover_glaze_top,
			@button_hover_glaze_mid-a 49%,
			@button_hover_glaze_mid-b 49%,
			@button_hover_glaze_bot );
}

button:focus {
	border: 1px solid @button_border;
	background:
		no-repeat 3px 3px / calc(100% - 6px) calc(100% - 6px)
			linear-gradient(to bottom, @button_focus_fill, @button_focus_fill),
		radial-gradient(
			ellipse 90% 50%,
			@button_glaze_glow_center,
			@button_glaze_glow_edge ),
		linear-gradient(to bottom,
			@button_glaze_top,
			@button_glaze_mid-a 49%,
			@button_glaze_mid-b 49%,
			@button_glaze_bot );
}

button:focus:hover {
	background:
		no-repeat 3px 3px / calc(100% - 6px) calc(100% - 6px)
			linear-gradient(to bottom, @button_focus_fill, @button_focus_fill),
		radial-gradient(
			ellipse 110% 50%,
			@button_hover_glaze_glow_center,
			@button_hover_glaze_glow_edge ),
		linear-gradient(to bottom,
			@button_hover_glaze_top,
			@button_hover_glaze_mid-a 49%,
			@button_hover_glaze_mid-b 49%,
			@button_hover_glaze_bot );
}

button:disabled,
button:disabled:focus {
	background:
		radial-gradient(
			ellipse 90% 50%,
			@button_disabled_glaze_glow_center,
			@button_disabled_glaze_glow_edge ),
		linear-gradient(to bottom,
			@button_disabled_glaze_top,
			@button_disabled_glaze_mid-a 49%,
			@button_disabled_glaze_mid-b 49%,
			@button_disabled_glaze_bot );
}

button.flat:active,
button.flat:active:hover,
button.flat.toggle,
button.flat.toggle:active:hover,
toolbar.primary-toolbar button.toggle,
toolbar.primary-toolbar button.toggle:active:hover,
toolbar.primary-toolbar button:active,
toolbar.primary-toolbar button:active:hover,
button:checked {
	border: 1px solid @button_border;
	background:
		radial-gradient(
			ellipse 110% 50%,
			@button_active_glaze_glow_center,
			@button_active_glaze_glow_edge ),
		linear-gradient(to right,
			@button_active_glaze_shadow_edge,
			@button_active_glaze_shadow 2px,
			alpha(@button_active_glaze_shadow, 0) 4px,
			@null 4px, @null ),
		linear-gradient(to bottom,
			@button_active_glaze_shadow_edge,
			@button_active_glaze_shadow 2px,
			alpha(@button_active_glaze_shadow, 0) 4px,
			@null 4px, @null ),
		linear-gradient(to bottom,
			@button_active_glaze_top,
			@button_active_glaze_mid-a 49%,
			@button_active_glaze_mid-b 49%,
			@button_active_glaze_bot );
}

button:checked:focus,
button:checked:active:focus:hover,
button:active,
button:active:hover {
	background:
		no-repeat 3px 3px / calc(100% - 6px) calc(100% - 7px)
			linear-gradient(to bottom, @button_focus_fill_active, @button_focus_fill_active),
		radial-gradient(
			ellipse 110% 50%,
			@button_active_glaze_glow_center,
			@button_active_glaze_glow_edge ),
		linear-gradient(to right,
			@button_active_glaze_shadow_edge,
			@button_active_glaze_shadow 2px,
			alpha(@button_active_glaze_shadow, 0) 4px,
			@null 4px, @null ),
		linear-gradient(to bottom,
			@button_active_glaze_shadow_edge,
			@button_active_glaze_shadow 2px,
			alpha(@button_active_glaze_shadow, 0) 4px,
			@null 4px, @null ),
		linear-gradient(to bottom,
			@button_active_glaze_top,
			@button_active_glaze_mid-a 49%,
			@button_active_glaze_mid-b 49%,
			@button_active_glaze_bot );
}

button.flat.toggle:hover,
toolbar.primary-toolbar button.toggle:hover,
button:checked:hover {
	background:
		radial-gradient(
			ellipse 110% 50%,
			@button_hover_glaze_glow_center,
			@button_hover_glaze_glow_edge ),
		linear-gradient(to right,
			alpha(@button_active_glaze_shadow_edge, 0.3),
			alpha(@button_active_glaze_shadow, 0.3) 3px,
			alpha(@button_active_glaze_shadow, 0) 5px,
			@null 5px, @null ),
		linear-gradient(to bottom,
			alpha(@button_active_glaze_shadow_edge, 0.3),
			alpha(@button_active_glaze_shadow, 0.3) 3px,
			alpha(@button_active_glaze_shadow, 0) 5px,
			@null 5px, @null ),
		linear-gradient(to bottom,
			@button_hover_glaze_top,
			@button_hover_glaze_mid-a 49%,
			@button_hover_glaze_mid-b 49%,
			@button_hover_glaze_bot );
}

button:checked:focus:hover {
	background:
		no-repeat 3px 3px / calc(100% - 6px) calc(100% - 7px)
			linear-gradient(to bottom, @button_focus_fill_active, @button_focus_fill_active),
		radial-gradient(
			ellipse 110% 50%,
			@button_hover_glaze_glow_center,
			@button_hover_glaze_glow_edge ),
		linear-gradient(to right,
			alpha(@button_active_glaze_shadow_edge, 0.3),
			alpha(@button_active_glaze_shadow, 0.3) 3px,
			alpha(@button_active_glaze_shadow, 0) 5px,
			@null 5px, @null ),
		linear-gradient(to bottom,
			alpha(@button_active_glaze_shadow_edge, 0.3),
			alpha(@button_active_glaze_shadow, 0.3) 3px,
			alpha(@button_active_glaze_shadow, 0) 5px,
			@null 5px, @null ),
		linear-gradient(to bottom,
			@button_hover_glaze_top,
			@button_hover_glaze_mid-a 49%,
			@button_hover_glaze_mid-b 49%,
			@button_hover_glaze_bot );
}

toolbar button:hover {
	background:
		radial-gradient(
			circle farthest-side,
			@button_hover_glaze_glow_center,
			@button_hover_glaze_glow_edge ),
		linear-gradient(to bottom,
			@button_hover_glaze_top,
			@button_hover_glaze_mid-a 49%,
			@button_hover_glaze_mid-b 49%,
			@button_hover_glaze_bot );
}

button.flat:focus:hover,
toolbar.primary-toolbar button:focus:hover {
	background:
		no-repeat 3px 3px / calc(100% - 6px) calc(100% - 6px)
			linear-gradient(to bottom, @button_focus_fill, @button_focus_fill),
		radial-gradient(
			circle farthest-side,
			@button_hover_glaze_glow_center,
			@button_hover_glaze_glow_edge ),
		linear-gradient(to bottom,
			@button_hover_glaze_top,
			@button_hover_glaze_mid-a 49%,
			@button_hover_glaze_mid-b 49%,
			@button_hover_glaze_bot );
}

button.flat:focus:active,
button.flat:focus:active:hover,
button.flat.toggle:focus,
button.flat.toggle:focus:active:hover,
toolbar.primary-toolbar button:focus:active,
toolbar.primary-toolbar button:focus:active:hover,
toolbar.primary-toolbar button.toggle:focus,
toolbar.primary-toolbar button.toggle:focus:active:hover {
	background:
		no-repeat 3px 3px / calc(100% - 6px) calc(100% - 6px)
			linear-gradient(to bottom, @button_focus_fill, @button_focus_fill),
		radial-gradient(
			circle farthest-side,
			@button_active_glaze_glow_center,
			@button_active_glaze_glow_edge ),
		linear-gradient(to right,
			@button_active_glaze_shadow_edge,
			@button_active_glaze_shadow 2px,
			alpha(@button_active_glaze_shadow, 0) 4px,
			@null 4px, @null ),
		linear-gradient(to bottom,
			@button_active_glaze_shadow_edge,
			@button_active_glaze_shadow 2px,
			alpha(@button_active_glaze_shadow, 0) 4px,
			@null 4px, @null ),
		linear-gradient(to bottom,
			@button_active_glaze_top,
			@button_active_glaze_mid-a 49%,
			@button_active_glaze_mid-b 49%,
			@button_active_glaze_bot );
}

button.flat.toggle:focus:hover,
toolbar.primary-toolbar button.toggle:focus:hover {
	background:
		no-repeat 3px 3px / calc(100% - 6px) calc(100% - 6px)
			linear-gradient(to bottom, @button_focus_fill, @button_focus_fill),
		radial-gradient(
			circle farthest-side,
			@button_hover_glaze_glow_center,
			@button_hover_glaze_glow_edge ),
		linear-gradient(to right,
			alpha(@button_active_glaze_shadow_edge, 0.3),
			alpha(@button_active_glaze_shadow, 0.3) 3px,
			alpha(@button_active_glaze_shadow, 0) 5px,
			@null 5px, @null ),
		linear-gradient(to bottom,
			alpha(@button_active_glaze_shadow_edge, 0.3),
			alpha(@button_active_glaze_shadow, 0.3) 3px,
			alpha(@button_active_glaze_shadow, 0) 5px,
			@null 5px, @null ),
		linear-gradient(to bottom,
			@button_hover_glaze_top,
			@button_hover_glaze_mid-a 49%,
			@button_hover_glaze_mid-b 49%,
			@button_hover_glaze_bot );
}
