
/* --- separators --- */

toolbar separator {
	margin: 7px 5px 8px;
	border-left: 1px @separator_dark solid;
	border-right: 1px @separator_hl solid;
}

/* --- status bar --- */

statusbar {
	margin: -7px -10px -12px -10px;
	border-top: 1px solid @toolbar_border_bot;
}

statusbar border {
	border-top: 1px solid @toolbar_border_top;
}

statusbar label,
statusbar frame {
	color: @theme_fg;
	border: 0;
}

statusbar frame {
	border: 0;
}
