
/* --- entry --- */

entry {
	margin: 1px;
	padding: 3px;
	color: @theme_text;
	border: 1px solid @entry_border;
	border-radius: 2.4px;
	background: @entry_bg;
	box-shadow:
		-1px -1px alpha(@entry_border, 0.09),
		 1px 1px alpha(@entry_bg, 0.42),
		inset 1px 1px alpha(@entry_border, 0.16);
	/* #DED4CA (#DED4CB okay) / #F0EBE7 / #ECEAE7 */
}

entry:disabled {
	text-shadow: none;
	border-color: @entry_border_disabled;
	background: @entry_bg_disabled;
	box-shadow:
		-1px -1px alpha(@entry_border, 0.09),
		 1px 1px alpha(@entry_bg, 0.42),
		inset 1px 1px alpha(@entry_border_disabled, 0.07);
	/* #DED4CA (#DED4CB okay) / #F0EBE7 / #E3DAD1 */
}

entry:focus {
	border-color: @entry_border_focus;
}

entry image.left {
	margin-right: 5px;
}

entry image.right {
	margin-left: 5px;
}

/* --- combobox (text entry with drop down or drop down) --- */

combobox entry {
	padding: 4px 3px;
}

combobox button {
	padding: 4px;
}

combobox entry + button {
	padding: 4px 4px 4px 5px;
}

combobox button arrow {
	min-height: 16px;
	min-width: 16px;
	-gtk-icon-transform: scale(0.6);
}

combobox button cellview {
	margin: -1px;
}

/* --- spinbutton (number entry with +/-) --- */

spinbutton {
	margin: 1px;
}

spinbutton entry {
	margin: 0;
	padding-right: 5px;
	border-radius: 3px 0 0 3px;
}

spinbutton button {
	margin: 0 0 0 -1px;
	padding: 3px 4px;
	border-radius: 0;
}

/* --- colorswatch --- */

button.color {
	padding: 5px;
}

button.color colorswatch {
	border: 1px solid @frame_border;
}

/* --- checkbutton and radiobutton (box with check/radio and label) --- */

checkbutton, radiobutton {
	margin: 0 0 1px 1px;
}

checkbutton label, radiobutton label {
	margin-left: -2px;
	padding: 1px;
	border: 1px solid transparent;
	border-radius: 3px;
}

checkbutton:hover, radiobutton:hover {
	background: @checkbutton_hover_bg;
}

checkbutton:focus label, radiobutton:focus label {
	border-color: @checkbutton_focus_border;
	background: @checkbutton_focus_bg;
}

checkbutton:hover:focus label, radiobutton:hover:focus label {
	border-color: @checkbutton_focus_hover_border;
	background: @checkbutton_focus_hover_bg;
}

/* --- checkbox --- */

/* unchecked */
check {
	margin: 1px 5px 0 0;
	-gtk-icon-source: -gtk-recolor(url("img/checkbox-unchecked.svg"));
}

check:disabled {
	-gtk-icon-source: -gtk-recolor(url("img/checkbox-unchecked-insensitive.svg"));
}

/* checked */
check:checked {
	-gtk-icon-source: -gtk-recolor(url("img/checkbox-checked.svg"));
}

check:checked:active {
	-gtk-icon-source: -gtk-recolor(url("img/checkbox-checked-active.svg"));
}

check:checked:disabled,
check:active:disabled {
	-gtk-icon-source: -gtk-recolor(url("img/checkbox-checked-insensitive.svg"));
}

/* mixed */
check:indeterminate {
	-gtk-icon-source: -gtk-recolor(url("img/checkbox-mixed.svg"));
}

check:indeterminate:active {
	-gtk-icon-source: -gtk-recolor(url("img/checkbox-mixed-active.svg"));
}

check:indeterminate:disabled {
	-gtk-icon-source: -gtk-recolor(url("img/checkbox-mixed-insensitive.svg"));
}

/* --- radio --- */

/* unchecked */
radio {
	margin: 1px 5px 0 0;
	-gtk-icon-source: -gtk-recolor(url("img/radio-unchecked.svg"));
}

radio:disabled {
	-gtk-icon-source: -gtk-recolor(url("img/radio-unchecked-insensitive.svg"));
}

/* checked */
radio:checked {
	-gtk-icon-source: -gtk-recolor(url("img/radio-checked.svg"));
}

radio:checked:active {
	-gtk-icon-source: -gtk-recolor(url("img/radio-checked-active.svg"));
}

radio:checked:disabled,
radio:active:disabled {
	-gtk-icon-source: -gtk-recolor(url("img/radio-checked-insensitive.svg"));
}

/* mixed */
radio:indeterminate {
	-gtk-icon-source: -gtk-recolor(url("img/radio-mixed.svg"));
}

radio:indeterminate:active {
	-gtk-icon-source: -gtk-recolor(url("img/radio-mixed-active.svg"));
}

radio:indeterminate:disabled {
	-gtk-icon-source: -gtk-recolor(url("img/radio-mixed-insensitive.svg"));
}

/* --- switch (gtk3 yes/no|on/off) --- */

switch {
	margin: 1px;
	padding: 1px;
}

switch slider {
	padding-bottom: 1px;
	background: rgba(0,0,0,0.5);
}

/* --- buttons --- */

button {
	margin: 1px;
	padding: 4px;
	min-height: 16px;
	color: @theme_fg;
}

button, switch {
	border: 1px solid @button_border;
	border-radius: 3px;
	box-shadow:
		-1px -1px alpha(@button_border, 0.13),
		 1px 1px alpha(@button_border, 0.13),
		inset 1px 1px alpha(@button_border, 0.14);
	/* #DED5CC / #DED5CC / #E8E0DA (#E8E2DE) */
}

button:disabled, switch:disabled {
	border-color: @button_border_disabled;
	box-shadow:
		-1px -1px alpha(@button_border_disabled, 0.31),
		 1px 1px alpha(@entry_bg, 0.42),
		inset 1px 1px alpha(@button_border_disabled, 0.08);
	/* #DED4CA / #F0EBE7 / #E5DCD3 (#E5DCD4 okay) */
}

button.flat {
	border-color: transparent;
	background: transparent;
	box-shadow: none;
}

button.flat:disabled {
	border-color: transparent;
	background: transparent;
	opacity: 0.3;
}

button.toggle:not(:disabled) {
	padding: 5px 3px 3px 5px;
}

/* --- buttons background --- */

button,
spinbutton button:focus {
	background:
		transparent
		radial-gradient(
			ellipse 90% 50%,
			@button_glaze_glow_center,
			@button_glaze_glow_edge),
		linear-gradient(to bottom,
			@button_glaze_top,
			@button_glaze_mid-a 49%,
			@button_glaze_mid-b 49%,
			@button_glaze_bot);
}

button:hover,
spinbutton button:focus:hover {
	border: 1px solid @button_border;
	background:
		radial-gradient(
			ellipse 110% 50%,
			@button_hover_glaze_glow_center,
			@button_hover_glaze_glow_edge),
		linear-gradient(to bottom,
			@button_hover_glaze_top,
			@button_hover_glaze_mid-a 49%,
			@button_hover_glaze_mid-b 49%,
			@button_hover_glaze_bot);
}

button:focus {
	border: 1px solid @button_border;
	background:
		no-repeat 3px 3px / calc(100% - 6px) calc(100% - 6px)
			linear-gradient(to bottom, @button_focus_fill, @button_focus_fill),
		radial-gradient(
			ellipse 90% 50%,
			@button_glaze_glow_center,
			@button_glaze_glow_edge),
		linear-gradient(to bottom,
			@button_glaze_top,
			@button_glaze_mid-a 49%,
			@button_glaze_mid-b 49%,
			@button_glaze_bot);
}

button:focus:hover {
	background:
		no-repeat 3px 3px / calc(100% - 6px) calc(100% - 6px)
			linear-gradient(to bottom, @button_focus_fill, @button_focus_fill),
		radial-gradient(
			ellipse 110% 50%,
			@button_hover_glaze_glow_center,
			@button_hover_glaze_glow_edge),
		linear-gradient(to bottom,
			@button_hover_glaze_top,
			@button_hover_glaze_mid-a 49%,
			@button_hover_glaze_mid-b 49%,
			@button_hover_glaze_bot);
}

button:disabled,
button:disabled:focus {
	background:
		radial-gradient(
			ellipse 90% 50%,
			@button_disabled_glaze_glow_center,
			@button_disabled_glaze_glow_edge),
		linear-gradient(to bottom,
			@button_disabled_glaze_top,
			@button_disabled_glaze_mid-a 49%,
			@button_disabled_glaze_mid-b 49%,
			@button_disabled_glaze_bot);
}

button.flat:active,
button.flat:active:hover,
toolbar.primary-toolbar button:active,
toolbar.primary-toolbar button:active:hover,
button:checked {
	border: 1px solid @button_border;
	background:
		radial-gradient(
			ellipse 110% 50%,
			@button_active_glaze_glow_center,
			@button_active_glaze_glow_edge),
		linear-gradient(to right,
			@button_active_glaze_shadow_edge,
			@button_active_glaze_shadow 2px,
			alpha(@button_active_glaze_shadow, 0) 4px,
			@null 4px, @null),
		linear-gradient(to bottom,
			@button_active_glaze_shadow_edge,
			@button_active_glaze_shadow 2px,
			alpha(@button_active_glaze_shadow, 0) 4px,
			@null 4px, @null),
		linear-gradient(to bottom,
			@button_active_glaze_top,
			@button_active_glaze_mid-a 49%,
			@button_active_glaze_mid-b 49%,
			@button_active_glaze_bot);
}

button:checked:focus,
button:checked:active:focus:hover,
button:active,
button:active:hover {
	background:
		no-repeat 3px 3px / calc(100% - 6px) calc(100% - 7px)
			linear-gradient(to bottom, @button_focus_fill_active, @button_focus_fill_active),
		radial-gradient(
			ellipse 110% 50%,
			@button_active_glaze_glow_center,
			@button_active_glaze_glow_edge),
		linear-gradient(to right,
			@button_active_glaze_shadow_edge,
			@button_active_glaze_shadow 2px,
			alpha(@button_active_glaze_shadow, 0) 4px,
			@null 4px, @null),
		linear-gradient(to bottom,
			@button_active_glaze_shadow_edge,
			@button_active_glaze_shadow 2px,
			alpha(@button_active_glaze_shadow, 0) 4px,
			@null 4px, @null),
		linear-gradient(to bottom,
			@button_active_glaze_top,
			@button_active_glaze_mid-a 49%,
			@button_active_glaze_mid-b 49%,
			@button_active_glaze_bot);
}

button:checked:hover {
	background:
		radial-gradient(
			ellipse 110% 50%,
			@button_hover_glaze_glow_center,
			@button_hover_glaze_glow_edge),
		linear-gradient(to right,
			alpha(@button_active_glaze_shadow_edge, 0.3),
			alpha(@button_active_glaze_shadow, 0.3) 3px,
			alpha(@button_active_glaze_shadow, 0) 5px,
			@null 5px, @null),
		linear-gradient(to bottom,
			alpha(@button_active_glaze_shadow_edge, 0.3),
			alpha(@button_active_glaze_shadow, 0.3) 3px,
			alpha(@button_active_glaze_shadow, 0) 5px,
			@null 5px, @null),
		linear-gradient(to bottom,
			@button_hover_glaze_top,
			@button_hover_glaze_mid-a 49%,
			@button_hover_glaze_mid-b 49%,
			@button_hover_glaze_bot);
}

button:checked:focus:hover {
	background:
		no-repeat 3px 3px / calc(100% - 6px) calc(100% - 7px)
			linear-gradient(to bottom, @button_focus_fill_active, @button_focus_fill_active),
		radial-gradient(
			ellipse 110% 50%,
			@button_hover_glaze_glow_center,
			@button_hover_glaze_glow_edge),
		linear-gradient(to right,
			alpha(@button_active_glaze_shadow_edge, 0.3),
			alpha(@button_active_glaze_shadow, 0.3) 3px,
			alpha(@button_active_glaze_shadow, 0) 5px,
			@null 5px, @null),
		linear-gradient(to bottom,
			alpha(@button_active_glaze_shadow_edge, 0.3),
			alpha(@button_active_glaze_shadow, 0.3) 3px,
			alpha(@button_active_glaze_shadow, 0) 5px,
			@null 5px, @null),
		linear-gradient(to bottom,
			@button_hover_glaze_top,
			@button_hover_glaze_mid-a 49%,
			@button_hover_glaze_mid-b 49%,
			@button_hover_glaze_bot);
}

toolbar button:hover {
	background:
		radial-gradient(
			circle farthest-side,
			@button_hover_glaze_glow_center,
			@button_hover_glaze_glow_edge),
		linear-gradient(to bottom,
			@button_hover_glaze_top,
			@button_hover_glaze_mid-a 49%,
			@button_hover_glaze_mid-b 49%,
			@button_hover_glaze_bot);
}

button.flat:focus:hover,
toolbar.primary-toolbar button:focus:hover {
	background:
		no-repeat 3px 3px / calc(100% - 6px) calc(100% - 6px)
			linear-gradient(to bottom, @button_focus_fill, @button_focus_fill),
		radial-gradient(
			circle farthest-side,
			@button_hover_glaze_glow_center,
			@button_hover_glaze_glow_edge),
		linear-gradient(to bottom,
			@button_hover_glaze_top,
			@button_hover_glaze_mid-a 49%,
			@button_hover_glaze_mid-b 49%,
			@button_hover_glaze_bot);
}

button.flat:focus:active,
button.flat:focus:active:hover,
toolbar.primary-toolbar button:focus:active,
toolbar.primary-toolbar button:focus:active:hover {
	background:
		no-repeat 3px 3px / calc(100% - 6px) calc(100% - 6px)
			linear-gradient(to bottom, @button_focus_fill, @button_focus_fill),
		radial-gradient(
			circle farthest-side,
			@button_active_glaze_glow_center,
			@button_active_glaze_glow_edge),
		linear-gradient(to right,
			@button_active_glaze_shadow_edge,
			@button_active_glaze_shadow 2px,
			alpha(@button_active_glaze_shadow, 0) 4px,
			@null 4px, @null),
		linear-gradient(to bottom,
			@button_active_glaze_shadow_edge,
			@button_active_glaze_shadow 2px,
			alpha(@button_active_glaze_shadow, 0) 4px,
			@null 4px, @null),
		linear-gradient(to bottom,
			@button_active_glaze_top,
			@button_active_glaze_mid-a 49%,
			@button_active_glaze_mid-b 49%,
			@button_active_glaze_bot);
}
