
/* --- fields --- */

entry {
	margin: 1px;
	padding: 3px;
	color: @theme_text;
	border: 1px solid @entry_border;
	border-radius: 3px;
	background: @theme_base;
}

entry:disabled {
	text-shadow: none;
	border-color: @entry_border_disabled;
	background: @entry_background_disabled;
}

entry:focus {
	border-color: @entry_border_focus;
}

/* --- combobox --- */

combobox entry {
	padding: 4px 3px;
}

combobox cellview {
	margin: -1px;
}

combobox arrow {
	min-height: 16px;
	min-width: 16px;
	color: @theme_fg;
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

combobox button.combo {
	padding: 4px;
	border: 1px solid @button_border;
}

combobox cellview:disabled,
combobox arrow:disabled {
	color: alpha(@insensitive_fg, 0.8);
	background-color: transparent;
}

/* --- spinbutton (number entry with +/-) --- */

spinbutton {
	margin: 1px 1px 0;
}

spinbutton entry {
	margin: 0;
}

spinbutton button {
	margin: 0;
	padding: 0;
}
