
/* --- panel --- */

.mate-panel-menu-bar,
.mate-panel-menu-bar menubar,
#PanelPlug,
PanelApplet,
PanelApplet button,
PanelToplevel.background {
	border: 0;
	background: #e6ddd5;
}

.mate-panel-menu-bar,
.mate-panel-menu-bar menubar {
	margin: 0;
	padding: 0;
}

.mate-panel-menu-bar menubar {
	margin-right: 8px;
}

.mate-panel-menu-bar menubar > menuitem {
	margin: 0;
	padding: 2px 5px 4px 9px;
	border-radius: 0;
}

/* --- system-monitor-applet --- */

.multiload-applet box.horizontal {
	padding: 1px 0 2px;
}

.multiload-applet box.vertical {
	border: 0;
}

.multiload-applet box.vertical frame {
	margin: 0;
	padding: 0;
	border: 1px solid @menu_separator_dark;
}

.multiload-applet box.vertical border {
	margin: 0;
	padding: 0;
	border: 1px solid @menu_separator_hl;
}

/* --- clock-applet --- */

#clock-applet-button {
	margin: 0;
	border: 0;
}

#clock-applet-button:not(:hover) {
	background: none;
}
