
/* --- panel --- */

.mate-panel-menu-bar,
.mate-panel-menu-bar menubar,
.mate-panel-menu-bar button,
#PanelPlug,
#PanelPlug button,
#PanelApplet,
#PanelApplet button,
PanelApplet,
PanelApplet button,
PanelToplevel.background {
	border: 0;
	background: @theme_bg;
}

.mate-panel-menu-bar,
.mate-panel-menu-bar menubar {
	margin: 0;
	padding: 0;
}

.mate-panel-menu-bar menubar {
	margin-right: 8px;
}

.mate-panel-menu-bar menubar > menuitem {
	margin: 0;
	padding: 2px 5px 4px 9px;
	border-radius: 0;
}

.mate-panel-menu-bar menubar > menuitem separator {
	margin: 4px 6px;
}

/* --- system-monitor-applet --- */

.multiload-applet box.horizontal {
	padding: 1px 0 2px;
}

.multiload-applet box.vertical {
	border: 0;
}

.multiload-applet box.vertical frame {
	margin: 0;
	padding: 0;
	border: 1px solid @frame_border;
}

.multiload-applet box.vertical border {
	margin: 0;
	padding: 0;
	border: 1px solid @frame_shadow_dark;
}

/* --- clock-applet --- */

#clock-applet-button {
	margin: 0;
	border: 0;
}

#clock-applet-button:not(:hover) {
	background: transparent;
}

#MatePanelPopupWindow frame > box > box > box > widget { /* the map border color */
	color: @frame_border;
}

/* --- virtual desktop selector --- */

.wnck-applet {

}

/* --- window list --- */
#tasklist-button:not(:checked), #tasklist-button:checked {
	border-width: 3px 3px 2px;
	border-style: solid;
	border-color: transparent;
	/* top: 1px transparent + 1px alpha + 1px #988B7F  active */
	/* bottom: 1px #988B7F  + 1px alpha                active */
	/* #AB9E92 */
}

/* --- grip for notification area and window list --- */
MatePanelAppletFrameDBus > MatePanelAppletFrameDBus {
	min-width: 6px;
	background-image: url("img/pane-separator-grip-horz.svg");
	background-repeat: no-repeat;
	background-position: left;
}
