/* mate.css: rules specific to MATE desktop environment */

-ext {
	/* Background is same as with menuitem:hover, but applied to buttons */
	-x-var-bg-hover:
		radial-gradient( ellipse 110% 50%,
			@menuitem_hover_glaze_glow_center,
			@menuitem_hover_glaze_glow_edge ),
		linear-gradient( to bottom,
			@menuitem_hover_glaze_top,
			@menuitem_hover_glaze_mid-a 50%,
			@menuitem_hover_glaze_mid-b 50%,
			@menuitem_hover_glaze_bot );
}


/* --- top mate-panel and its components (main menu, icon bar, applets on the right) --- */
/* All mate-panel components have .mate-panel-menu-bar */

.mate-panel-menu-bar {
	border: none;
	background: #e5dcd3;
}

/* -- window.brisk-menu */
/* two-pane menu window with search that opens in top-left */

.brisk-menu,
.brisk-menu .frame,
.brisk-menu list {
	background: #e5dcd3;
}

.mate-panel-menu-bar button.brisk-button,
.brisk-menu button {
	background: transparent;
	border: 1px transparent solid;
	padding: 0 7px;
	margin: 0;
	min-height: 16px;
	color: @theme_fg;
}

.mate-panel-menu-bar button.brisk-button:hover { background: transparent; }

.mate-panel-menu-bar button.brisk-button:checked {
	background-color: @menu_bg;
	border: 1px @menuitem_hover_border solid;
	border-radius: 3px 3px 0 0;
	color: @menubar_menuitem_hover;
	background:
		-x-var-bg-hover;
}

.brisk-menu button {
	border: 1px transparent solid;
	padding: 5px;
	margin: 0 0 0 2px;
}

.brisk-menu button:hover,
.brisk-menu button:checked {
	border-radius: 3px;
	border: 1px @menuitem_hover_border solid;
	color: @theme_selected_fg;
	background:
		-x-var-bg-hover;
}

/* Search bar entry on top */
.brisk-menu entry { padding: 5px 3px; }
.brisk-menu entry image.left { margin-right: 5px; }

/* Buttons on the right panel (... -> list -> row -> button) */

/* This should look same as "separator" by using pane borders */
.brisk-menu scrolledwindow.frame {
	border-width: 0 0 0 2px;
	border-image:
		linear-gradient( to right,
			@separator_dark, @separator_dark 1px,
			@separator_hl 1px, @separator_hl ) 2 / 2px;
}

/* Have to be prefixed by "row" to avoid affecting scrollbars and such */
.brisk-menu scrolledwindow.frame row { background: none; }
/* margin-right needed to have rounded border-right visible from under scrollbar, if any */
.brisk-menu scrolledwindow.frame row button { margin-right: 25px; }


/* -- mate-indicator-applet-complete window - applets on the top-right */

.mate-panel-menu-bar #fast-user-switch-menubar {
	background: transparent;
	border: none;
}

.mate-panel-menu-bar menubar {
	margin-top: 0;
	margin-right: 8px;
	padding: 0;
}

.mate-panel-menu-bar menubar > menuitem {
	margin: 0;
	padding: 2px 5px 4px 9px;
}


/* --- mate-panel applets --- */

/* system-monitor-applet */
.multiload-applet > box.horizontal > box.vertical > frame {
	margin: 1px 0;
	padding: 0;
	border: 1px solid #bcab9b;
}
.multiload-applet > box.horizontal > box.vertical > frame > border {
	border-color: #dfd5cb;
}

/* clock-applet */
#clock-applet-button {
	margin: 0;
	border: 0;
}
