
/* --- menubar --- */

menubar {
	margin: 1px 0 0;
	padding: 0 1px;
	border-bottom: 1px @menubar_border_bot solid;
	background: linear-gradient(to bottom, @menubar_grad_top, @menubar_grad_bot);
}

menubar menuitem {
	padding: 2px 7px;
	text-shadow: none; /* libreoffice 6.4.1 (and?) */
	color: @menu_fg;   /* libreoffice 6.4.1 (and?) */
	border: 1px transparent solid;
}

menubar menuitem:hover {
	color: @menubar_menuitem_hover;
	border: 1px @menuitem_hover_border solid;
	border-bottom: 0;
	border-radius: 2px 2px 0 0;
	background:
		radial-gradient( ellipse 110% 50%,
			@menuitem_hover_glaze_glow_center,
			@menuitem_hover_glaze_glow_edge ),
		linear-gradient( to bottom,
			@menuitem_hover_glaze_top,
			@menuitem_hover_glaze_mid-a 50%,
			@menuitem_hover_glaze_mid-b 50%,
			@menuitem_hover_glaze_bot );
}

/* --- menu popup window --- */

menu {
	padding: 3px;
	border: 1px solid @menu_border;
	background-color: @menu_bg;
}

menu menuitem {
	padding: 2px 4px;
	border: 1px transparent solid;
	background-color: @menu_bg;
}

menu menuitem:hover {
	color: @theme_selected_fg;
	border: 1px @menuitem_hover_border solid;
	border-radius: 2px;
	background-image:
		radial-gradient( ellipse 110% 50%,
			@menuitem_hover_glaze_glow_center,
			@menuitem_hover_glaze_glow_edge ),
		linear-gradient( to bottom,
			@menuitem_hover_glaze_top,
			@menuitem_hover_glaze_mid-a 50%,
			@menuitem_hover_glaze_mid-b 50%,
			@menuitem_hover_glaze_bot );
}

menu arrow:hover {
	color: shade(@theme_selected_bg, 1.6);
	border-color: @theme_selected_fg;
}

menu arrow.top    { -gtk-icon-source: -gtk-icontheme("pan-up-symbolic"); }
menu arrow.bottom { -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

/* --- menuitem elements --- */

menuitem:disabled,
menuitem:disabled * {
	color: mix(@menu_fg, @menu_bg, 0.6);
	background-color: transparent;
}

menuitem image {
	margin: 0 -1px 0 2px;
}

menuitem accelerator {
	/* margin-left:11px; @todo */
	color: alpha(@menu_fg, 0.601); /* #696764 instead of #696664 */
}

menuitem:hover > label > accelerator {
	color: @theme_selected_fg;
}

menuitem separator {
	margin: 4px 5px 6px;
	border-top: 1px @menu_separator_dark solid;
	border-bottom: 1px @menu_separator_lite solid;
}

menuitem arrow {
	margin-left: 10px;
	min-height: 16px;
	min-width: 16px;
	color: @menu_controls;
}

menuitem arrow:dir(ltr) { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
menuitem arrow:dir(rtl) { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); }

/* --- menuitem checkbox and radio elements --- */
/* .check .radio for ? */

menuitem check,
menuitem radio,
menuitem .check,
menuitem .radio {
	min-height: 16px;
	min-width: 16px;
	padding-left: 2px;
	padding-right: 2px;
}

/* unchecked */
menuitem check,
menuitem check:disabled,
menuitem .check,
menuitem .check:disabled {
	-gtk-icon-source: none;
}

/* checked */
menuitem check:checked,
menuitem check:checked:active,
menuitem .check:checked,
menuitem .check:checked:active {
	-gtk-icon-source: url("img/menu-checkbox-checked.svg");
}

menuitem check:checked:disabled,
menuitem check:active:disabled,
menuitem .check:checked:disabled,
menuitem .check:active:disabled {
	-gtk-icon-source: url("img/menu-checkbox-checked-insensitive.svg");
}

/* mixed */
menuitem check:indeterminate,
menuitem check:indeterminate:active,
menuitem .check:indeterminate,
menuitem .check:indeterminate:active {
	-gtk-icon-source: url("img/menu-checkbox-mixed.svg");
}

menuitem check:indeterminate:disabled,
menuitem .check:indeterminate:disabled {
	-gtk-icon-source: url("img/menu-checkbox-mixed-insensitive.svg");
}

/* unchecked */
menuitem radio,
menuitem radio:disabled,
menuitem .radio,
menuitem .radio:disabled {
	-gtk-icon-source: none;
}

/* checked */
menuitem radio:checked,
menuitem radio:checked:active,
menuitem .radio:checked,
menuitem .radio:checked:active {
	-gtk-icon-source: url("img/menu-radio-checked.svg");
}

menuitem radio:checked:disabled,
menuitem radio:active:disabled,
menuitem .radio:checked:disabled,
menuitem .radio:active:disabled {
	-gtk-icon-source: url("img/menu-radio-checked-insensitive.svg");
}

/* mixed */
menuitem radio:indeterminate,
menuitem radio:indeterminate:active,
menuitem .radio:indeterminate,
menuitem .radio:indeterminate:active {
	-gtk-icon-source: url("img/menu-radio-mixed.svg");
}

menuitem radio:indeterminate:disabled,
menuitem .radio:indeterminate:disabled {
	-gtk-icon-source: url("img/menu-radio-mixed-insensitive.svg");
}
