
/* --- menubar --- */

menubar {
	margin: 1px 0 0;
	padding: 0 1px;
	border-bottom: 1px @menubar_border_bot solid;
	background: linear-gradient(to bottom, @menubar_grad_top, @menubar_grad_bot);
}

menubar menuitem {
	padding: 2px 7px;
	text-shadow: none; /* libreoffice 6.4.1 */
	color: @menu_fg;   /* libreoffice 6.4.1 */
	border: 1px transparent solid;
}

menubar menuitem:hover {
	color: @menubar_menuitem_hover;
	border: 1px @menuitem_hover_border solid;
	border-bottom: 0;
	border-radius: 2px 2px 0 0;
	background:
		radial-gradient( ellipse 110% 50%,
			@menuitem_hover_glaze_glow_center,
			@menuitem_hover_glaze_glow_edge ),
		linear-gradient( to bottom,
			@menuitem_hover_glaze_top,
			@menuitem_hover_glaze_mid-a 50%,
			@menuitem_hover_glaze_mid-b 50%,
			@menuitem_hover_glaze_bot );
}

/* --- menu popup window --- */
popover.background {
	border: 1px solid @menu_border;
	background: @menu_bg;
}

popover > stack > box,
popover > box {
	margin: -7px;
}

menu {
	padding: 3px;
	border: 1px solid @menu_border;
	background: @menu_bg;
}

menu menuitem,
popover modelbutton {
	padding: 2px 4px;
	border: 1px transparent solid;
	background: @menu_bg;
}

menu menuitem:hover,
popover modelbutton:hover {
	color: @theme_selected_fg;
	border: 1px @menuitem_hover_border solid;
	border-radius: 2px;
	background:
		radial-gradient( ellipse 110% 50%,
			@menuitem_hover_glaze_glow_center,
			@menuitem_hover_glaze_glow_edge ),
		linear-gradient( to bottom,
			@menuitem_hover_glaze_top,
			@menuitem_hover_glaze_mid-a 50%,
			@menuitem_hover_glaze_mid-b 50%,
			@menuitem_hover_glaze_bot );
}

menu arrow.top {
	border: 1px solid @menu_border_arrow;
	-gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

menu arrow.bottom {
	margin: 5px 0 -6px;
	border: 1px solid @menu_border_arrow;
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

/* --- menuitem elements --- */

menuitem image {
	margin: 0 0 0 2px;
}

menuitem label {
	margin: 0 0 0 -1px;
}

menuitem accelerator {
	color: alpha(@menu_fg, 0.601); /* #696764 instead of #696664 */
}

popover separator {
	margin: 0 -6px;
}

box.horizontal menu > separator, /* when menu tearoffed */
popover stack separator,
menuitem separator {
	margin: 4px 6px 6px;
	border-top: 1px @menu_separator_dark solid;
	border-bottom: 1px @menu_separator_lite solid;
}

menuitem arrow {
	min-height: 16px;
	min-width: 16px;
	color: @menu_controls;
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

menuitem arrow:dir(rtl) {
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}

menuitem:hover > label > accelerator,
menuitem:hover > arrow {
	color: @theme_selected_fg;
}

menuitem:disabled,
menuitem:disabled * {
	color: mix(@menu_fg, @menu_bg, 0.6);
	background: transparent;
}

menuitem:disabled image {
	opacity: 0.3;
}

/* --- menuitem checkbox and radio elements --- */

popover check,
popover radio {
	margin: 1px 0 0;
}

menuitem check,
menuitem radio,
menuitem .check,
menuitem .radio {
	min-height: 16px;
	min-width: 16px;
}

/* unchecked */
popover check,
popover check:disabled,
menuitem check,
menuitem check:disabled,
menuitem .check,
menuitem .check:disabled {
	-gtk-icon-source: none;
}

/* checked */
popover check:checked,
popover check:checked:active,
menuitem check:checked,
menuitem check:checked:active,
menuitem .check:checked,
menuitem .check:checked:active {
	-gtk-icon-source: url("img/menu-checkbox-checked.svg");
}

popover check:checked:disabled,
popover check:active:disabled,
menuitem check:checked:disabled,
menuitem check:active:disabled,
menuitem .check:checked:disabled,
menuitem .check:active:disabled {
	-gtk-icon-source: url("img/menu-checkbox-checked-insensitive.svg");
}

/* mixed */
popover check:indeterminate,
popover check:indeterminate:active,
menuitem check:indeterminate,
menuitem check:indeterminate:active,
menuitem .check:indeterminate,
menuitem .check:indeterminate:active {
	-gtk-icon-source: url("img/menu-checkbox-mixed.svg");
}

popover check:indeterminate:disabled,
menuitem check:indeterminate:disabled,
menuitem .check:indeterminate:disabled {
	-gtk-icon-source: url("img/menu-checkbox-mixed-insensitive.svg");
}

/* unchecked */
popover radio,
popover radio:disabled,
menuitem radio,
menuitem radio:disabled,
menuitem .radio,
menuitem .radio:disabled {
	-gtk-icon-source: none;
}

/* checked */
popover radio:checked,
popover radio:checked:active,
menuitem radio:checked,
menuitem radio:checked:active,
menuitem .radio:checked,
menuitem .radio:checked:active {
	-gtk-icon-source: url("img/menu-radio-checked.svg");
}

popover radio:checked:disabled,
popover radio:active:disabled,
menuitem radio:checked:disabled,
menuitem radio:active:disabled,
menuitem .radio:checked:disabled,
menuitem .radio:active:disabled {
	-gtk-icon-source: url("img/menu-radio-checked-insensitive.svg");
}

/* mixed */
popover radio:indeterminate,
popover radio:indeterminate:active,
menuitem radio:indeterminate,
menuitem radio:indeterminate:active,
menuitem .radio:indeterminate,
menuitem .radio:indeterminate:active {
	-gtk-icon-source: url("img/menu-radio-mixed.svg");
}

popover radio:indeterminate:disabled,
menuitem radio:indeterminate:disabled,
menuitem .radio:indeterminate:disabled {
	-gtk-icon-source: url("img/menu-radio-mixed-insensitive.svg");
}
