/* Rules here are arcane and can be redundant with any updated ones,
	but preserved in case they might apply somewhere where others do not,
	which is possible with insane 100+-line selectors here. */
/* Remove anything clearly obsoleted or unused here as much as possible */


/***************
 * Resize grip *
 ***************/

.grip {
	background-image: -gtk-scaled(url("img/resize-grip.png"), url("img/resize-grip@2.png"));
}

/*************
 * Scrollbar *
 *************/

scrollbar slider {
	background-repeat: no-repeat;
	background-position: center center;
}

scrollbar.vertical slider {
	background-image: linear-gradient(to right,
	                      alpha (@scrollbar_slider_inner_border, 0.5),
	                      alpha (@scrollbar_slider_gradient_a, 0.5) 1px,
	                      alpha (@scrollbar_slider_gradient_b, 0.5) 50%,
	                      alpha (@scrollbar_slider_gradient_c, 0.5) 50%,
	                      alpha (@scrollbar_slider_gradient_d, 0.5) 95%,
	                      alpha (@scrollbar_slider_inner_border, 0.5)),
	                  -gtk-scaled(url("img/slider-vert-grip.png"),
	                      url("img/slider-vert-grip@2.png"));
}

scrollbar.horizontal slider {
	background-image: linear-gradient(to bottom,
	                      alpha (@scrollbar_slider_inner_border, 0.5),
	                      alpha (@scrollbar_slider_gradient_a, 0.5) 1px,
	                      alpha (@scrollbar_slider_gradient_b, 0.5) 50%,
	                      alpha (@scrollbar_slider_gradient_c, 0.5) 50%,
	                      alpha (@scrollbar_slider_gradient_d, 0.5) 95%,
	                      alpha (@scrollbar_slider_inner_border, 0.5)),
	                  -gtk-scaled(url("img/slider-horz-grip.png"),
	                      url("img/slider-horz-grip@2.png"));
}

scrollbar.vertical slider:hover {
	background-image: linear-gradient(to right,
	                      alpha (@scrollbar_slider_inner_border, 0.5),
	                      alpha (@scrollbar_slider_hover_gradient_a, 0.5) 1px,
	                      alpha (@scrollbar_slider_hover_gradient_b, 0.5) 50%,
	                      alpha (@scrollbar_slider_hover_gradient_c, 0.5) 50%,
	                      alpha (@scrollbar_slider_hover_gradient_d, 0.5) 95%,
	                      alpha (@scrollbar_slider_inner_border, 0.5)),
	                  -gtk-scaled(url("img/slider-vert-grip.png"),
	                      url("img/slider-vert-grip@2.png"));
}

scrollbar.horizontal slider:hover {
	background-image: linear-gradient(to bottom,
	                      alpha (@scrollbar_slider_inner_border, 0.5),
	                      alpha (@scrollbar_slider_hover_gradient_a, 0.5) 1px,
	                      alpha (@scrollbar_slider_hover_gradient_b, 0.5) 50%,
	                      alpha (@scrollbar_slider_hover_gradient_c, 0.5) 50%,
	                      alpha (@scrollbar_slider_hover_gradient_d, 0.5) 95%,
	                      alpha (@scrollbar_slider_inner_border, 0.5)),
	                  -gtk-scaled(url("img/slider-horz-grip.png"),
	                      url("img/slider-horz-grip@2.png"));
}


/*********
 * Panes *
 *********/

paned.horizontal > separator {
	background-repeat: no-repeat;
	background-position: center center;
	background-image: -gtk-scaled(url("img/pane-separator-grip-horz.png"),
		url("img/pane-separator-grip-horz@2.png"));
}

paned.vertical > separator {
	background-repeat: no-repeat;
	background-position: center center;
	background-image: -gtk-scaled(url("img/pane-separator-grip-vert.png"),
		url("img/pane-separator-grip-vert@2.png"));
}


/***********
 * Borders *
 ***********/

/* XXX: no idea where/whether this madness is actually used, sure hope not */
/* Linked single button */
.linked entry:only-child,
.linked button:only-child,
.linked button:active:only-child,
.linked button:active:hover:only-child,
.linked button:focus:only-child,
.linked button:focus:active:only-child,
.linked button:disabled:only-child,
/* Middle button (vertical) */
.linked.vertical entry,
.linked.vertical button,
.linked.vertical button:active,
.linked.vertical button:active:hover,
.linked.vertical button:focus,
.linked.vertical button:focus:active,
.linked.vertical button:disabled,
/* Top button (vertical) */
.linked.vertical entry:first-child,
.linked.vertical button:first-child,
.linked.vertical button:active:first-child,
.linked.vertical button:active:hover:first-child,
.linked.vertical button:focus:first-child,
.linked.vertical button:focus:active:first-child,
.linked.vertical button:disabled:first-child,
/* Bottom button (vertical) */
.linked.vertical entry:last-child,
.linked.vertical button:last-child,
.linked.vertical button:active:last-child,
.linked.vertical button:active:hover:last-child,
.linked.vertical button:focus:last-child,
.linked.vertical button:focus:active:last-child,
.linked.vertical button:disabled:last-child,
/* Linked single button (vertical) */
.linked.vertical entry:only-child,
.linked.vertical button:only-child,
.linked.vertical button:active:only-child,
.linked.vertical button:active:hover:only-child,
.linked.vertical button:focus:only-child,
.linked.vertical button:focus:active:only-child,
.linked.vertical button:disabled:only-child,
/* Linked buttons on primary toolbars */
/* Middle button */
toolbar.primary-toolbar button.raised.linked,
toolbar.primary-toolbar button.raised.linked:active,
toolbar.primary-toolbar button.raised.linked:focus,
toolbar.primary-toolbar button.raised.linked:focus:active,
toolbar.primary-toolbar button.raised.linked:disabled,
toolbar.primary-toolbar .raised.linked button,
toolbar.primary-toolbar .raised.linked button:active,
toolbar.primary-toolbar .raised.linked button:focus,
toolbar.primary-toolbar .raised.linked button:focus:active,
toolbar.primary-toolbar .raised.linked button:disabled,
toolbar.inline-toolbar button,
toolbar.inline-toolbar button:active,
toolbar.inline-toolbar button:focus,
toolbar.inline-toolbar button:focus:active,
toolbar.inline-toolbar button:disabled,
toolbar.inline-toolbar toolbutton button,
toolbar.inline-toolbar toolbutton button:active,
toolbar.inline-toolbar toolbutton button:focus,
toolbar.inline-toolbar toolbutton button:focus:active,
toolbar.inline-toolbar toolbutton button:disabled,
/* Leftmost button */
toolbar.primary-toolbar button.raised.linked:first-child,
toolbar.primary-toolbar button.raised.linked:active:first-child,
toolbar.primary-toolbar button.raised.linked:focus:first-child,
toolbar.primary-toolbar button.raised.linked:focus:active:first-child,
toolbar.primary-toolbar button.raised.linked:disabled:first-child,
toolbar.primary-toolbar .raised.linked button:first-child,
toolbar.primary-toolbar .raised.linked button:active:first-child,
toolbar.primary-toolbar .raised.linked button:focus:first-child,
toolbar.primary-toolbar .raised.linked button:focus:active:first-child,
toolbar.primary-toolbar .raised.linked button:disabled:first-child,
toolbar.inline-toolbar button:first-child,
toolbar.inline-toolbar button:active:first-child,
toolbar.inline-toolbar button:focus:first-child,
toolbar.inline-toolbar button:focus:active:first-child,
toolbar.inline-toolbar button:disabled:first-child,
toolbar.inline-toolbar toolbutton button :first-child,
toolbar.inline-toolbar toolbutton button :first-child:active,
toolbar.inline-toolbar toolbutton button :first-child:focus,
toolbar.inline-toolbar toolbutton button :first-child:focus:active,
toolbar.inline-toolbar toolbutton button :first-child:disabled,
/* Rightmost button */
toolbar.primary-toolbar button.raised.linked:last-child,
toolbar.primary-toolbar button.raised.linked:active:last-child,
toolbar.primary-toolbar button.raised.linked:focus:last-child,
toolbar.primary-toolbar button.raised.linked:focus:active:last-child,
toolbar.primary-toolbar button.raised.linked:disabled:last-child,
toolbar.primary-toolbar .raised.linked button:last-child,
toolbar.primary-toolbar .raised.linked button:active:last-child,
toolbar.primary-toolbar .raised.linked button:focus:last-child,
toolbar.primary-toolbar .raised.linked button:focus:active:last-child,
toolbar.primary-toolbar .raised.linked button:disabled:last-child,
toolbar.inline-toolbar button:last-child,
toolbar.inline-toolbar button:active:last-child,
toolbar.inline-toolbar button:focus:last-child,
toolbar.inline-toolbar button:focus:active:last-child,
toolbar.inline-toolbar button:disabled:last-child,
toolbar.inline-toolbar toolbutton button :last-child,
toolbar.inline-toolbar toolbutton button :last-child:active,
toolbar.inline-toolbar toolbutton button :last-child:focus,
toolbar.inline-toolbar toolbutton button :last-child:focus:active,
toolbar.inline-toolbar toolbutton button :last-child:disabled,
/* Single button */
toolbar.inline-toolbar button:only-child,
toolbar.inline-toolbar button:active:only-child,
toolbar.inline-toolbar button:focus:only-child,
toolbar.inline-toolbar button:focus:active:only-child,
toolbar.inline-toolbar button:disabled:only-child,
toolbar.inline-toolbar toolbutton button :only-child,
toolbar.inline-toolbar toolbutton button :only-child:active,
toolbar.inline-toolbar toolbutton button :only-child:focus,
toolbar.inline-toolbar toolbutton button :only-child:focus:active,
toolbar.inline-toolbar toolbutton button :only-child:disabled {
	border-image: url("img/border-inline-button.svg") 3 3 4 3 / 3px 3px 4px 3px repeat;
	border-radius: 3px;
	border-width: 1px 1px 2px 1px;
	border-style: solid;
	border-color: transparent;
}
