/************
 * Nautilus *
 ************/

.nautilus-desktop.nautilus-canvas-item {
	color: @theme_base;
	text-shadow: 1px 1px alpha (@theme_fg, 0.8);
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:hover,
.nautilus-desktop.nautilus-canvas-item:selected {
	text-shadow: none;
}

.nautilus-desktop .entry {
	background-image: none;
	border-image: none;
}

/*******************
 * gnome-documents *
 *******************/

.documents-scrolledwin.frame {
	border-width: 1px 0 0 0;
	border-radius: 0;
}

.documents-main-view.view {
	background-color: @theme_base;
}

iconview.documents-main-view.check {
	background-repeat: no-repeat;
	background-position: center;
	background-color: @theme_base;
}

.documents-selection-mode.toolbar {
	border-width: 0;
}

.documents-selection-mode.toolbar .dim-label {
	color: @theme_fg;
}

.documents-icon-bg {
	background-color: @switch_trough_active_gradient_a;
	border-radius: 3px;
	color: @theme_base;
}

.documents-collection-icon {
	background-color: @theme_bg;
	border-radius: 3px;
}

/******************
 * gnome-terminal *
 ******************/

TerminalScreen {
	background-color: @theme_base;
	color: @theme_fg;
}
