/* Rules here are arcane and can be redundant with any updated ones,
	but preserved in case they might apply somewhere where others do not,
	which is possible with insane 100+-line selectors here. */
/* Remove anything clearly obsoleted or unused here as much as possible */


/***************
 * Resize grip *
 ***************/

.grip {
	background-image: -gtk-scaled(url("img/resize-grip.png"), url("img/resize-grip@2.png"));
}

/*************
 * Scrollbar *
 *************/

scrollbar slider {
	background-repeat: no-repeat;
	background-position: center center;
}

scrollbar.vertical slider {
	background-image: linear-gradient(to right,
	                      alpha (@scrollbar_slider_inner_border, 0.5),
	                      alpha (@scrollbar_slider_gradient_a, 0.5) 1px,
	                      alpha (@scrollbar_slider_gradient_b, 0.5) 50%,
	                      alpha (@scrollbar_slider_gradient_c, 0.5) 50%,
	                      alpha (@scrollbar_slider_gradient_d, 0.5) 95%,
	                      alpha (@scrollbar_slider_inner_border, 0.5)),
	                  -gtk-scaled(url("img/slider-vert-grip.png"),
	                      url("img/slider-vert-grip@2.png"));
}

scrollbar.horizontal slider {
	background-image: linear-gradient(to bottom,
	                      alpha (@scrollbar_slider_inner_border, 0.5),
	                      alpha (@scrollbar_slider_gradient_a, 0.5) 1px,
	                      alpha (@scrollbar_slider_gradient_b, 0.5) 50%,
	                      alpha (@scrollbar_slider_gradient_c, 0.5) 50%,
	                      alpha (@scrollbar_slider_gradient_d, 0.5) 95%,
	                      alpha (@scrollbar_slider_inner_border, 0.5)),
	                  -gtk-scaled(url("img/slider-horz-grip.png"),
	                      url("img/slider-horz-grip@2.png"));
}

scrollbar.vertical slider:hover {
	background-image: linear-gradient(to right,
	                      alpha (@scrollbar_slider_inner_border, 0.5),
	                      alpha (@scrollbar_slider_hover_gradient_a, 0.5) 1px,
	                      alpha (@scrollbar_slider_hover_gradient_b, 0.5) 50%,
	                      alpha (@scrollbar_slider_hover_gradient_c, 0.5) 50%,
	                      alpha (@scrollbar_slider_hover_gradient_d, 0.5) 95%,
	                      alpha (@scrollbar_slider_inner_border, 0.5)),
	                  -gtk-scaled(url("img/slider-vert-grip.png"),
	                      url("img/slider-vert-grip@2.png"));
}

scrollbar.horizontal slider:hover {
	background-image: linear-gradient(to bottom,
	                      alpha (@scrollbar_slider_inner_border, 0.5),
	                      alpha (@scrollbar_slider_hover_gradient_a, 0.5) 1px,
	                      alpha (@scrollbar_slider_hover_gradient_b, 0.5) 50%,
	                      alpha (@scrollbar_slider_hover_gradient_c, 0.5) 50%,
	                      alpha (@scrollbar_slider_hover_gradient_d, 0.5) 95%,
	                      alpha (@scrollbar_slider_inner_border, 0.5)),
	                  -gtk-scaled(url("img/slider-horz-grip.png"),
	                      url("img/slider-horz-grip@2.png"));
}


/*********
 * Panes *
 *********/

paned.horizontal > separator {
	background-repeat: no-repeat;
	background-position: center center;
	background-image: -gtk-scaled(url("img/pane-separator-grip-horz.png"),
		url("img/pane-separator-grip-horz@2.png"));
}

paned.vertical > separator {
	background-repeat: no-repeat;
	background-position: center center;
	background-image: -gtk-scaled(url("img/pane-separator-grip-vert.png"),
		url("img/pane-separator-grip-vert@2.png"));
}
