
image,
image:disabled,
label,
label:disabled,
box,
box:disabled,
GtkGrid,
GtkGrid:disabled {
	background-color: transparent;
}

/************
 * Tooltips *
 ************/

tooltip,
tooltip.background,
.tooltip,
.tooltip.background {
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: @theme_tooltip_border;
	border-radius: 0px;
	background-color: @theme_tooltip_bg;
	color: @theme_tooltip_fg;
}

tooltip *,
.tooltip * {
	text-shadow: none;
}

/*****************
 * Miscellaneous *
 *****************/

.floating-bar {
	background-image: linear-gradient( to bottom,
		@theme_base 20%, shade(@theme_base, 0.9) );
	background-color: @theme_base;
	border-color: @border;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
}

.floating-bar.top {
	border-top-width: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.floating-bar.right {
	border-right-width: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.floating-bar.bottom {
	border-bottom-width: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.floating-bar.left {
	border-left-width: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.floating-bar .button {
	background-color: transparent;
	background-image: none;
	border-style: none;
	border-image: none;
}

.rubberband,
view rubberband,
rubberband {
	background-color: alpha(@theme_selected_bg, 0.35);
	border-color: @theme_selected_bg;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
}

.dnd {
	border-width: 1px;
	border-style: solid;
	border-color: @theme_selected_bg;
	border-radius: 0;
}

/*******************
 * Symbolic images *
 *******************/

image {
	color: @internal_element;
}

image:hover {
	color: @internal_element_hover;
}

image:selected {
	color: @theme_selected_fg;
}

/********************
 * Menubar Toolbars *
 ********************/

toolbar menubar {
	border-style: none;
	-GtkToolbar-button-relief: normal;
	padding-left: 4px;
	padding-right: 4px;
}

/********************
 * Primary Toolbars *
 ********************/

/* applications using EggEditableToolbar usually set the primary-toolbar
 * hint on the containing vbox, so we need to handle both these cases here.
 */

toolbar.primary-toolbar {
	border-width: 1px 0 1px 0;
	border-radius: 0;
	border-style: solid;
	border-top-color: @toolbar_border_top;
	border-bottom-color: @toolbar_border_bot;
	-GtkWidget-window-dragging: true;
	-GtkToolbar-button-relief: normal;
}

toolbar.primary-toolbar:disabled {
	background-image: none;
	background-color: transparent;
	border-color: shade (@theme_bg, 0.91);
}

/* progressbars on primary toolbar entries are special */
toolbar.primary-toolbar entry progress {
	background-image: -gtk-gradient( linear,
		left top, left bottom, from(@trough_gradient_a), to(@trough_gradient_b) );
	border-width: 1px;
	border-radius: 2px;
	border-style: solid;
	border-color: shade(@internal_element, 1.10);
	border-image: none;
	color: @theme_text;
}

/*******************
 * Inline toolbars *
 *******************/

toolbar.inline-toolbar {
	border-width: 1px;
	border-radius: 0;
	border-style: solid;
	-GtkToolbar-button-relief: normal;
	padding: 4px;
}

toolbar.inline-toolbar:last-child {
	border-width: 0 1px 1px 1px;
	border-radius: 0 0 3px 3px;
}

/* XXX: there're no text labels under toolbar button images,
	check if these can be enabled, or just missing in awf-gtk3 */
toolbar.primary-toolbar,
toolbar.inline-toolbar  {
	background-color: transparent;
	background-image: linear-gradient(to bottom, @toolbar_grad_top, @toolbar_grad_bot);
}

/***********
 * Sidebar *
 ***********/

.sidebar,
.sidebar .view,
placessidebar .view {
	background-color: @sidebar_bg;
}

.sidebar radio,
.sidebar radio:focus,
.sidebar radio:selected {
	background-image: none;
	background-color: transparent;
}

/*******
 * OSD *
 *******/

.osd {
	color: @osd_fg;
	background-color: @osd_bg;
	border-width: 1px;
	border-style: solid;
	border-color: @osd_border;
}

/****************
 * GtkAssistant *
 ****************/

assistant .sidebar highlight {
	color: @theme_fg;
	font-weight: bold;
}

assistant .sidebar {
	padding: 12px;
	border-width: 1px;
	border-radius: 2px;
	border-style: solid;
	border-color: @gtkassistant_sidebar_border;
	color: mix (@theme_fg, @theme_bg, 0.40);
	background-color: shade (@theme_bg, 0.97);
	/* shall we make it like sidebars in general? */
}

/**************************
 * GtkIconview GtkViewport*
 **************************/

iconview,
viewport {
	border-radius: 3px;
	padding: 3px;
	background-color: @theme_base;
}

iconview.view.cell:selected,
iconview.view.cell:selected:focus {
	background-color: @theme_selected_bg;
	color: @theme_selected_fg;
	border-radius: 4px;
}

view,
.view,
view text,
.view text,
iconview text,
textview text {
	background-color: @theme_base;
	color: @theme_text;
}

view,
view:selected,
view:selected:focus,
.view:selected,
.view:selected:focus,
view text selection,
.view text selection,
view text selection:focus,
.view text selection:focus {
	background-color: @theme_selected_bg;
	color: @theme_selected_fg
}

view:disabled,
.view:disabled {
	background-color: @insensitive_bg;
	color: @insensitive_fg;
}

/* XXX: weird label styles out of nowhere? */

/* for firefox and probably other apps */
/* label:selected, */
/* label selection, */
/* label selection:focus, */
/* label selection:hover { */
/* 	background-color: @theme_selected_bg; */
/* 	color: @theme_selected_fg; */
/* } */

/* label:disabled:selected, */
/* label selection:disabled { */
/* 	color: @insensitive_fg; */
/* } */

/* label:backdrop:selected, */
/* label selection:backdrop { */
/* 	color: @theme_fg; */
/* } */

/* label:backdrop:disabled:selected, */
/* label selection:backdrop:disabled { */
/* 	color: @insensitive_fg; */
/* } */

/* Calendars */
calendar {
	padding: 2px;
	border-style:none;
}

calendar.view {
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
}

calendar.header {
	border-radius: 0;
	background-image: -gtk-gradient (linear,
	                  left top,
	                  left bottom,
	                  from (shade (@theme_bg, 1.04)),
	                  to (shade (@theme_bg, 0.89)));
	border-width: 0;
}

calendar button,
calendar button:disabled {
	background-image: none;
	background-color: transparent;
}

highlight,
calendar.highlight {
	background-color: @theme_selected_bg;
	color: @theme_selected_fg;
	border-radius: 0;
	padding: 0;
	border-width: 0;
}

/* Use different button and entry borders on infobars */
infobar entry,
infobar entry:focus,
infobar button,
infobar button:disabled,
infobar button:checked,
infobar button:focus,
infobar button:focus:checked,
.info,
.warning,
.question,
.error,
entry.info,
entry.info:focus,
.info button,
.info button:disabled,
.info button:checked,
.info button:focus,
.info button:focus:checked,
entry.warning,
entry.warning:focus,
.warning button,
.warning button:disabled,
.warning button:checked,
.warning button:focus,
.warning button:focus:checked,
entry.question,
entry.question:focus,
.question button,
.question button:disabled,
.question button:checked,
.question button:focus,
.question button:focus:checked,
entry.error,
entry.error:focus,
.error button,
.error button:disabled,
.error button:checked,
.error button:focus,
.error button:focus:checked {
	border-image: none;
	border-color: shade(@border, 0.9);
	border-style: solid;
	border-width: 1px;
}

infobar:last-child,
.info:last-child,
.warning:last-child,
.question:last-child,
.error:last-child {
	/* only apply a border on the last infobar if
	 * there's more than one packed in */
	border-bottom-width: 1px;
	border-style: solid;
}

.info,
.info > * {
	background-color: @info_bg;
	color: @info_fg;
	border-color: darker(@info_bg);
}

.warning,
.warning > * {
	background-color: @warning_bg;
	color: @warning_fg;
	border-color: darker(@warning_bg);
}

.question,
.question > * {
	background-color: @question_bg;
	color: @question_fg;
	border-color: darker(@question_bg);
}

.error,
.error > * {
	background-color: @error_bg;
	color: @error_fg;
	border-color: darker(@error_bg);
}

.info button:hover,
.warning button:hover,
.question button:hover,
.error button:hover {
	padding-bottom: 5px;
}

.view.dim-label,
.dim-label,
.dim-label:hover,
.dim-label:focus {
	color: mix (@theme_fg, @theme_bg, 0.50);
}

.dim-label:selected,
.dim-label:selected:focus {
	color: mix (@theme_selected_fg, @theme_base, 0.50);
}

/************
 * Titlebar *
 ************/

.titlebar {
	background-image: linear-gradient(to bottom, @theme_base, @theme_bg);
	background-color: transparent;
	border-radius: 0px;
	border-bottom: 1px solid;
	border-color: shade(@border, 1.30);
	padding: 5px 4px 4px 4px;
}

.titlebar > * {
	background: none;
}

.tiled .titlebar {
	border-radius: 0;
}

.maximized .titlebar {
	border-radius: 0;
}

.titlebar .title {
	font-weight: bold;
}

/*.titlebar :first-child {*/
/*	padding: 5px 5px 6px 5px;*/
/*}*/

.titlebar button.titlebutton {
	background: none;
	border-image: none;
}

tooltip.csd decoration {
	border-radius: 5px;
	box-shadow: 0 1px 5px @wm_shadow;
}

messagedialog.csd decoration {
	border-radius: 7px;
	box-shadow: 0 1px 5px @wm_shadow;
}

/**************
 * Action bar *
 **************/

actionbar {
	border: none;
	padding: 7px 7px 3px 7px;
}

/**************
 * Header bar *
 **************/

headerbar {
	padding: 5px 4px 4px 4px;
}

headerbar.titlebar > stackswitcher.linked.stack-switcher > button,
headerbar.titlebar > stackswitcher.linked.stack-switcher > button:checked:hover {
	padding: 6px 12px;
	border-width: 1px 1px 1px 0px;
}

headerbar.titlebar > stackswitcher.linked.stack-switcher > button:first-child,
headerbar.titlebar > stackswitcher.linked.stack-switcher > button:checked:hover:first-child {
	border-width: 1px;
}

headerbar.titlebar > stackswitcher.linked.stack-switcher > button:last-child,
headerbar.titlebar > stackswitcher.linked.stack-switcher > button:checked:hover:last-child {
	border-width: 1px 1px 1px 0px;
}

/************
 * Popovers *
 ************/

popover {
	border: 1px solid;
	border-radius: 0px;
	border-color: @border;
	background-color: @theme_bg;
	background-clip: border-box;
}

popover > list,
popover > .view,
popover > toolbar popover.osd > toolbar,
popover > .inline-toolbar popover.osd > toolbar,
popover > searchbar popover.osd > toolbar,
popover > .location-bar popover.osd > toolbar,
popover > toolbar popover.osd > .inline-toolbar,
popover > .inline-toolbar .popover.osd > .inline-toolbar,
popover > searchbar popover.osd > .inline-toolbar,
popover > .location-bar popover.osd > .inline-toolbar,
popover > toolbar popover.osd > searchbar,
popover > .inline-toolbar popover.osd > searchbar,
popover > searchbar popover.osd > searchbar,
popover > .location-bar popover.osd > searchbar
popover > .inline-toolbar popover.osd > .location-bar,
popover > searchbar popover.osd > .location-bar,
popover > .location-bar popover.osd > .location-bar {
	background-color: transparent;
}

/***********
 * Sidebar *
 ***********/

.sidebar,
.sidebar .view,
placessidebar .view {
	background-color: @theme_bg;
}

.sidebar .frame {
	border-style: none;
}

/******************
 * Dialog Windows *
 ******************/

dialog filechooser placessidebar.sidebar.frame viewport.frame list,
dialog filechooser placessidebar.sidebar.frame viewport.frame list row.activatable.sidebar-row {
	background-color: @theme_base;
}

dialog filechooser placessidebar.sidebar.frame viewport.frame list row.activatable.sidebar-row revealer.sidebar-revealer image.sidebar-icon {
	padding: 4px 8px 4px 6px;
}

dialog filechooser placessidebar.sidebar.frame viewport.frame list row.activatable.sidebar-row revealer.sidebar-revealer label.sidebar-label {
	padding: 4px 0px 4px 1px;
}

dialog filechooser placessidebar.sidebar.frame viewport.frame list row.activatable.sidebar-row revealer.sidebar-revealer button.image-button.sidebar-button {
	background-color: transparent;
	background-image: none;
	border-image:none;
	box-shadow: none;
	border-width: 0px;
	padding: 4px 12px 4px 0px;
}

dialog filechooser placessidebar > viewport.frame {
	border-style: none;
}

dialog filechooser #pathbarbox {
	border-style: none;
	background-color: transparent;
}

/* ie. mate-keyboard-properties option window */
dialog scrolledwindow.frame,
dialog scrolledwindow {
	border-color: @border;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
}

/* credits in GtkAbout windows */
dialog .dialog-vbox scrolledwindow.frame > viewport.view.frame {
	background-color: shade (@theme_bg, 1.04);
}

dialog scrolledwindow.frame viewport .vertical expander .vertical {
	background-color: @theme_base;
	border-radius: 3px;
	border-color: @border;
	border-style: solid;
	border-width: 1px;
}

/* print dialog */
printdialog.background > box.view.vertical.dialog-vbox {
	background-color: shade (@theme_bg, 1.0);
}

/******************
 * GtkAboutDialog *
 ******************/

dialog.background dialog-vbox.vertical .vertical {
	background: transparent;
}

/***************
 * Resize grip *
 ***************/

.grip {
	background-image: -gtk-scaled(url("img/resize-grip.png"), url("img/resize-grip@2.png"));
}
