
/* --- scrollbar --- */

scrollbar {
	background: @scroll_bg;
	-GtkScrollbar-has-backward-stepper: true;
	-GtkScrollbar-has-forward-stepper: true;
}

scrollbar contents {
	padding: 1px;
	border: 1px solid @scroll_border;
	border-radius: 2px;
}

/* --- scrollbar slider --- */

scrollbar slider {
	border: 1px solid @scroll_slider_border;
	border-radius: 3px;
}

scrollbar.horizontal slider {
	min-width: 42px;
	min-height: 12px;
	background:
		radial-gradient(
			ellipse 50% 50%,
			@scroll_glaze_glow_center,
			@scroll_glaze_glow_edge ),
		linear-gradient( to bottom,
			@scroll_glaze_top,
			@scroll_glaze_mid-a 49%,
			@scroll_glaze_mid-b 49%,
			@scroll_glaze_bot );
}

scrollbar.horizontal slider:hover {
	background:
		radial-gradient(
			ellipse 50% 50%,
			@scroll_glaze_glow_center,
			@scroll_glaze_glow_edge ),
		linear-gradient( to bottom,
			@scroll_hover_glaze_top,
			@scroll_hover_glaze_mid-a 49%,
			@scroll_hover_glaze_mid-b 49%,
			@scroll_hover_glaze_bot );
}

scrollbar.vertical slider {
	min-width: 12px;
	min-height: 42px;
	background:
		radial-gradient(
			ellipse 50% 50%,
			@scroll_glaze_glow_center,
			@scroll_glaze_glow_edge ),
		linear-gradient( to right,
			@scroll_glaze_top,
			@scroll_glaze_mid-a 49%,
			@scroll_glaze_mid-b 49%,
			@scroll_glaze_bot );
}

scrollbar.vertical slider:hover {
	background:
		radial-gradient(
			ellipse 50% 50%,
			@scroll_glaze_glow_center,
			@scroll_glaze_glow_edge ),
		linear-gradient( to right,
			@scroll_hover_glaze_top,
			@scroll_hover_glaze_mid-a 49%,
			@scroll_hover_glaze_mid-b 49%,
			@scroll_hover_glaze_bot );
}

/* --- scrollbar buttons --- */

scrollbar button,
scrollbar button:disabled {
	padding: 2px;
	min-width: 6px;
	min-height: 6px;
	border-color: transparent;
	background: transparent;
}

scrollbar.vertical button {
	-gtk-icon-transform: rotate(90deg);
}
