
/* --- scale slider --- */

scale trough {
	outline: 0;
	border: 1px solid @slider_trough_border;
	border-radius: 3px;
	background:
		linear-gradient(to right,
			alpha(@slider_trough_shadow_edge, 0.3),
			alpha(@slider_trough_shadow, 0.3) 3px,
			alpha(@slider_trough_shadow, 0) 5px,
			@null 5px, @null ),
		linear-gradient(to bottom,
			alpha(@slider_trough_shadow_edge, 0.3),
			alpha(@slider_trough_shadow, 0.3) 3px,
			alpha(@slider_trough_shadow, 0) 5px,
			@null 5px, @null )
		@slider_trough_bg;
}

scale.horizontal trough { min-height: 1px; }
scale.vertical trough { min-width: 1px; }

scale trough highlight {
	margin: -1px;
	border: 1px @slider_border solid;
	border-radius: 3px;
}

scale.horizontal trough highlight {
	min-height: 3px;
	background-image:
		radial-gradient(
			ellipse 90% 50%,
			@slider_glaze_glow_center,
			@slider_glaze_glow_edge ),
		linear-gradient( to bottom,
			@slider_glaze_top,
			@slider_glaze_mid-a 49%,
			@slider_glaze_mid-b 49%,
			@slider_glaze_bot ),
		repeating-linear-gradient(135deg,
			alpha(@slider_pattern, 0.0),
			alpha(@slider_pattern, 0.0) 12px,
			@slider_pattern 12px,
			@slider_pattern 24px);
}
scale.vertical trough highlight {
	min-width: 3px;
	background-image:
		radial-gradient(
			ellipse 50% 90%,
			@slider_glaze_glow_center,
			@slider_glaze_glow_edge ),
		linear-gradient( to right,
			@slider_glaze_top,
			@slider_glaze_mid-a 49%,
			@slider_glaze_mid-b 49%,
			@slider_glaze_bot ),
		repeating-linear-gradient(135deg,
			alpha(@slider_pattern, 0.0),
			alpha(@slider_pattern, 0.0) 12px,
			@slider_pattern 12px,
			@slider_pattern 24px);
}

scale.vertical {
	padding: 3px 5px;
	min-width: 10px;
}

scale.horizontal {
	padding: 5px 2px;
	min-height: 10px;
}

scale.horizontal slider {
	margin: -6px 0;
	min-width: 18px;
	min-height: 11px;
	border: 1px @slider_trough_border solid;
	border-radius: 3px;
	background:
		radial-gradient( circle,
			@scale_glaze_glow_center,
			@scale_glaze_glow_edge ),
		linear-gradient( to bottom,
			@scale_glaze_top,
			@scale_glaze_mid-a 49%,
			@scale_glaze_mid-b 49%,
			@scale_glaze_bot );
}

scale.vertical slider {
	margin: 0 -6px;
	min-width: 11px;
	min-height: 18px;
	border: 1px @slider_trough_border solid;
	border-radius: 3px;
	background:
		radial-gradient( circle,
			@scale_glaze_glow_center,
			@scale_glaze_glow_edge ),
		linear-gradient( to right,
			@scale_glaze_top,
			@scale_glaze_mid-a 49%,
			@scale_glaze_mid-b 49%,
			@scale_glaze_bot );
}

scale.horizontal slider:hover {
	background:
		radial-gradient( circle,
			@scale_glaze_glow_center,
			@scale_glaze_glow_edge ),
		linear-gradient( to bottom,
			@scale_hover_glaze_top,
			@scale_hover_glaze_mid-a 49%,
			@scale_hover_glaze_mid-b 49%,
			@scale_hover_glaze_bot );
}

scale.vertical slider:hover {
	background:
		radial-gradient( circle,
			@scale_glaze_glow_center,
			@scale_glaze_glow_edge ),
		linear-gradient( to right,
			@scale_hover_glaze_top,
			@scale_hover_glaze_mid-a 49%,
			@scale_hover_glaze_mid-b 49%,
			@scale_hover_glaze_bot );
}

/* --- progressbar --- */

progressbar trough {
	border: 1px solid @slider_trough_border;
	border-radius: 3px;
	background:
		linear-gradient(to right,
			alpha(@slider_trough_shadow_edge, 0.3),
			alpha(@slider_trough_shadow, 0.3) 3px,
			alpha(@slider_trough_shadow, 0) 5px,
			@null 5px, @null ),
		linear-gradient(to bottom,
			alpha(@slider_trough_shadow_edge, 0.3),
			alpha(@slider_trough_shadow, 0.3) 3px,
			alpha(@slider_trough_shadow, 0) 5px,
			@null 5px, @null )
		@slider_trough_bg;
}

progressbar progress {
	margin: -1px;
	border: 1px solid @slider_border;
	border-radius: 3px;
}

progressbar.horizontal trough { min-height: 18px; }
progressbar.vertical trough { min-width: 20px; }

progressbar.horizontal progress /*,
row progressbar progress,
row:hover progressbar progress,
row:selected progressbar progress,
row:selected:focus progressbar progress */ {
	min-height: 18px;
	background-image:
		radial-gradient(
			ellipse 90% 50%,
			@slider_glaze_glow_center,
			@slider_glaze_glow_edge ),
		linear-gradient( to bottom,
			@slider_glaze_top,
			@slider_glaze_mid-a 49%,
			@slider_glaze_mid-b 49%,
			@slider_glaze_bot ),
		repeating-linear-gradient(135deg,
			alpha(@slider_pattern, 0.0),
			alpha(@slider_pattern, 0.0) 12px,
			@slider_pattern 12px,
			@slider_pattern 24px);
}

/* row:selected progressbar progress,
row:selected:focus progressbar progress {
	border-color: shade(@slider_border, 0.85);
} */

progressbar.vertical progress {
	min-width: 20px;
	background-image:
		radial-gradient(
			ellipse 50% 90%,
			@slider_glaze_glow_center,
			@slider_glaze_glow_edge ),
		linear-gradient( to right,
			@slider_glaze_top,
			@slider_glaze_mid-a 49%,
			@slider_glaze_mid-b 49%,
			@slider_glaze_bot ),
		repeating-linear-gradient(135deg,
			alpha(@slider_pattern, 0.0),
			alpha(@slider_pattern, 0.0) 12px,
			@slider_pattern 12px,
			@slider_pattern 24px);
}
