
/* --- checkbutton and radiobutton (a box with check and label) --- */

checkbutton, radiobutton {
	margin-right: 2px;
	padding: 2px 0 1px 1px;
}

checkbutton label, radiobutton label {
	margin-top: -1px;
	margin-left: -3px; /* +1px than gtk2 */
	margin-right: -1px;
	margin-bottom: -1px;
	padding-top: 1px;
	padding-left: 2px;
	padding-bottom: 1px;
	border: 1px solid transparent;
	border-radius: 3px;
}

checkbutton:hover, radiobutton:hover {
	background: @checkbutton_hover;
}

checkbutton:focus label, radiobutton:focus label {
	border: 1px solid @checkbutton_focus_border;
	background: @checkbutton_focus_bg;
}

checkbutton:hover:focus label, radiobutton:hover:focus label {
	border: 1px solid @checkbutton_focus_hover_border;
	background: @checkbutton_focus_hover_bg;
}

/* --- switch (yes/no) --- */

switch {
	border-radius: 3px;
}

/* --- checkbox --- */

/* unchecked */
check,
check row:selected {
	margin-top: 1px;
	margin-right: 5px;
	-gtk-icon-source: -gtk-recolor(url("img/checkbox-unchecked.svg"));
}

check:disabled,
check row:selected:disabled {
	-gtk-icon-source: -gtk-recolor(url("img/checkbox-unchecked-insensitive.svg"));
}

/* checked */
check:checked,
check row:selected:checked {
	-gtk-icon-source: -gtk-recolor(url("img/checkbox-checked.svg"));
}

check:checked:active,
check row:selected:checked:active {
	-gtk-icon-source: -gtk-recolor(url("img/checkbox-checked-active.svg"));
}

check:checked:disabled,
check row:selected:checked:disabled,
check:active:disabled,
check row:selected:active:disabled {
	-gtk-icon-source: -gtk-recolor(url("img/checkbox-checked-insensitive.svg"));
}

/* mixed */
check:indeterminate,
check row:selected:indeterminate {
	-gtk-icon-source: -gtk-recolor(url("img/checkbox-mixed.svg"));
}

check:indeterminate:active,
check row:selected:indeterminate:active {
	-gtk-icon-source: -gtk-recolor(url("img/checkbox-mixed-active.svg"));
}

check:indeterminate:disabled,
check row:selected:indeterminate:disabled {
	-gtk-icon-source: -gtk-recolor(url("img/checkbox-mixed-insensitive.svg"));
}

/* --- radio --- */

/* unchecked */
radio,
radio row:selected {
	margin-top: 1px;
	margin-right: 5px;
	-gtk-icon-source: -gtk-recolor(url("img/radio-unchecked.svg"));
}

radio:disabled,
radio row:selected:disabled {
	-gtk-icon-source: -gtk-recolor(url("img/radio-unchecked-insensitive.svg"));
}

/* checked */
radio:checked,
radio row:selected:checked {
	-gtk-icon-source: -gtk-recolor(url("img/radio-checked.svg"));
}

radio:checked:active,
radio row:selected:checked:active {
	-gtk-icon-source: -gtk-recolor(url("img/radio-checked-active.svg"));
}

radio:checked:disabled,
radio row:selected:checked:disabled,
radio:active:disabled,
radio row:selected:active:disabled {
	-gtk-icon-source: -gtk-recolor(url("img/radio-checked-insensitive.svg"));
}

/* mixed */
radio:indeterminate,
radio row:selected:indeterminate {
	-gtk-icon-source: -gtk-recolor(url("img/radio-mixed.svg"));
}

radio:indeterminate:active,
radio row:selected:indeterminate:active {
	-gtk-icon-source: -gtk-recolor(url("img/radio-mixed-active.svg"));
}

radio:indeterminate:disabled,
radio row:selected:indeterminate:disabled {
	-gtk-icon-source: -gtk-recolor(url("img/radio-mixed-insensitive.svg"));
}
