/* switches.css: checkbox and radio switch elements */
/* Range, Scale and such elements are in separate sliders.css file. */
/* Text input fields and comboboxes are in text-inputs.css file. */

/* Anything switch-like styled in other css files is a bug -
  - most likely legacy definition from clearlooks theme, which should be moved here. */
/* Anything non-switch-like styled here is likewise a bug. */


/* --- Switch - caret with short trought and fixed toggle-able positions --- */

switch {
	color: @switch_fg;
	border-radius: 3px;
	border-width: 1px 1px 2px 1px;
	border-style: solid;
	border-color: alpha(@switch_slider_border, 0.5);
	margin: 2px 0;
}

switch:checked {
	color: @switch_trough_active;
}

switch:checked,
switch:backdrop:checked {
	background-image:
		-gtk-gradient( linear,
			left top, left bottom,
			from (@switch_trough_active_gradient_a),
			to (@switch_trough_active_gradient_b));
}

switch slider {
	padding: 0;
	border: 1px @switch_slider_border solid;
	border-radius: 2px;
	background-image:
		linear-gradient( to bottom,
			alpha(@switch_slider_gradient_a, 0.5),
			alpha(@switch_slider_gradient_b, 0.5) 50%,
			alpha(@switch_slider_gradient_c, 0.5) 50%,
			alpha(@switch_slider_gradient_d, 0.5) ),
		-gtk-scaled(
			url("img/slider-horz-grip.png"),
			url("img/slider-horz-grip@2.png") );
	background-repeat: no-repeat;
	background-position: center center;
	background-color: @switch_slider_bg;
}

switch:disabled slider {
	background-image:
		linear-gradient( to bottom,
			alpha(@switch_slider_insensitive_gradient_a, 0.8),
			alpha(@switch_slider_insensitive_gradient_b, 0.8) 50%,
			alpha(@switch_slider_insensitive_gradient_c, 0.8) 50%,
			alpha(@switch_slider_insensitive_gradient_d, 0.8)),
		-gtk-scaled(
			url("img/slider-horz-grip.png"),
			url("img/slider-horz-grip@2.png") );
	border-color: @switch_slider_insensitive_border;
}


/* --- checkbox --- */

/* unchecked */
check,
check row:selected,
check row:selected:focus {
	-gtk-icon-source: url("img/checkbox-unchecked.svg");
	margin-right: 5px;
	margin-top: 1px;
}

check:disabled,
check row:selected:disabled,
check row:selected:focus:disabled {
	-gtk-icon-source: url("img/checkbox-unchecked-insensitive.svg");
}

/* checked */
check:checked,
check row:selected:checked,
check row:selected:focus:checked {
	-gtk-icon-source: url("img/checkbox-checked.svg");
}

check:checked:active,
check row:selected:checked:active,
check row:selected:checked:focus:active {
	-gtk-icon-source: url("img/checkbox-checked-active.svg");
}

check:checked:disabled,
check row:selected:checked:disabled,
check row:selected:focus:checked:disabled,
check:active:disabled,
check row:selected:active:disabled,
check row:selected:focus:active:disabled {
	-gtk-icon-source: url("img/checkbox-checked-insensitive.svg");
}

/* mixed */
check:indeterminate,
check row:selected:indeterminate,
check row:selected:focus:indeterminate {
	-gtk-icon-source: url("img/checkbox-mixed.svg");
}

check:indeterminate:active,
check row:selected:indeterminate:active,
check row:selected:indeterminate:focus:active {
	-gtk-icon-source: url("img/checkbox-mixed-active.svg");
}

check:indeterminate:disabled,
check row:selected:indeterminate:disabled,
check row:selected:focus:indeterminate:disabled {
	-gtk-icon-source: url("img/checkbox-mixed-insensitive.svg");
}


/* --- radio --- */

/* unchecked */
radio,
radio row:selected,
radio row:selected:focus {
	-gtk-icon-source: url("img/radio-unchecked.svg");
	margin-right: 5px;
	margin-top: 1px;
}

radio:disabled,
radio row:selected:disabled,
radio row:selected:focus:disabled {
	-gtk-icon-source: url("img/radio-unchecked-insensitive.svg");
}

/* checked */
radio:checked,
radio row:selected:checked,
radio row:selected:focus:checked {
	-gtk-icon-source: url("img/radio-checked.svg");
}

radio:checked:active,
radio row:selected:checked:active,
radio row:selected:checked:focus:active {
	-gtk-icon-source: url("img/radio-checked-active.svg");
}

radio:checked:disabled,
radio row:selected:checked:disabled,
radio row:selected:focus:checked:disabled,
radio:active:disabled,
radio row:selected:active:disabled,
radio row:selected:focus:active:disabled {
	-gtk-icon-source: url("img/radio-checked-insensitive.svg");
}

/* mixed */
radio:indeterminate,
radio row:selected:indeterminate,
radio row:selected:focus:indeterminate {
	-gtk-icon-source: url("img/radio-mixed.svg");
}

radio:indeterminate:active,
radio row:selected:indeterminate:active,
radio row:selected:indeterminate:focus:active {
	-gtk-icon-source: url("img/radio-mixed-active.svg");
}

radio:indeterminate:disabled,
radio row:selected:indeterminate:disabled,
radio row:selected:focus:indeterminate:disabled {
	-gtk-icon-source: url("img/radio-mixed-insensitive.svg");
}


/* --- checkbutton and radiobutton box effects --- */
/* E.g. checkbutton is a box with check + label */

checkbutton, radiobutton { padding: 0 3px 0 1px; }
checkbutton:hover, radiobutton:hover {
	background: alpha(@checkbutton_hover, 0.2);
}
