/* text-inputs.css: entry and combobox */
/* Range, Scale and such elements are in separate sliders.css file. */
/* Likewise, checkbox switch and raido elements are in switches.css file. */

/* Anything text-input-like styled in other css files is a bug -
  - most likely legacy definition from clearlooks theme, which should be moved here. */
/* Anything non-text-input-like styled here is likewise a bug. */


/* --- Gtk.Entry - text input fields --- */

entry {
	border: 1px @entry_border solid;
	border-radius: 3px;
	padding: 3px 3px 2px 3px;
	margin: 1px 0;
	color: @entry_text;
	background-color: @theme_base;
	background-image:
		linear-gradient(to right,
			@entry_shadow,
			alpha(@entry_shadow, 0) 1px,
			@null 1px, @null ),
		linear-gradient(to bottom,
			@entry_shadow,
			alpha(@entry_shadow, 0) 1px,
			@null 1px, @null );
}

entry:disabled {
	text-shadow: none;
	border-color: @entry_border_disabled;
	background-image:
		linear-gradient(to right,
			@entry_shadow_disabled,
			alpha(@entry_shadow_disabled, 0) 1px,
			@null 1px, @null ),
		linear-gradient(to bottom,
			@entry_shadow_disabled,
			alpha(@entry_shadow_disabled, 0) 1px,
			@null 1px, @null );
}

entry:focus {
	border-color: @entry_border_focus;
	background-image: none;
}

entry selection {
	color: @theme_selected_fg;
	background-color: @theme_selected_bg;
}

entry progressbar {
	background-color: @theme_selected_bg;
	color: @theme_selected_fg;
}


/* --- Gtk.Combobox --- */

/* Simple entry+button:
	combobox -> box.horizontal.linked [ entry.combo, label.combo ] */

combobox arrow {
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
	color: @theme_fg;
	min-height: 16px;
	min-width: 16px;
}
combobox button.combo { padding: 4px; }

combobox cellview:disabled {
	color: alpha(@insensitive_fg, 0.8);
	background-color: transparent;
}
combobox arrow:disabled { background-color: transparent; }

combobox window decoration {
	border: 1px alpha(@insensitive_border, 0.9) solid;
	padding: 1px;
	background-color: @theme_bg;
}


/* XXX: check where treemenu is used with combobox */

/* treemenu menu { */
/* 	background-color: @menu_bg; */
/* } */

/* treemenu menuitem { */
/* 	padding: 2px; */
/* } */

/* XXX: same as menu menuitem:hover */
/* treemenu menuitem:hover, */
/* combobox menuitem:hover, */
