
/* --- fields --- */

entry {
	margin: 1px;
	padding: 3px;
	color: @entry_text;
	box-shadow:
		-1px -1px @entry_shadow_out_dark,
		1px 1px   @entry_shadow_out_lite,
		inset 1px 1px @entry_shadow_in_dark;
	border: 1px solid @entry_border;
	border-radius: 3px;
	background: @theme_base;
}

entry:disabled {
	text-shadow: none;
	border-color: @entry_border_disabled;
	background: @entry_background_disabled;
}

entry:focus {
	border-color: @entry_border_focus;
	background-image: none;
}

entry selection {
	color: @theme_selected_fg;
	background-color: @theme_selected_bg;
}

/* --- combobox --- */

combobox entry {
	padding: 4px 3px;
}

combobox cellview {
	margin: -1px;
}

combobox arrow {
	min-height: 16px;
	min-width: 16px;
	color: @theme_fg;
	background: url("img/dropdown-arrows.svg") no-repeat center;
	/* -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); */
}

combobox button.combo {
	padding: 4px;
	border: 1px solid @button_border;
}

combobox cellview:disabled,
combobox arrow:disabled {
	color: alpha(@insensitive_fg, 0.8);
	background-color: transparent;
}

/* --- spinbutton (number entry with +/-) --- */

spinbutton {

}
