Source: human-theme-gtk
Section: x11
Priority: optional
Maintainer: Fabrice Creuzot <code@luigifab.fr>
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no
Standards-Version: 4.5.0
Homepage: https://github.com/luigifab/human-theme
Vcs-Browser: https://github.com/luigifab/human-theme
Vcs-Git: https://github.com/luigifab/human-theme.git

Package: human-theme-gtk
Architecture: all
Depends: ${misc:Depends}
Recommends: gtk3-nocsd, gnome-icon-theme, dmz-cursor-theme
Suggests: gtk2-engines-murrine, qt5-gtk2-platformtheme, qt5-gtk-platformtheme
Description: Human theme for GTK
 This theme works with GTK 2.24+ (with gtk2-engines-murrine) and
 GTK 3.20+ (including 3.22 and 3.24).
 .
 After installation you must restart your session.
