/**
 * Copyright 2020 | Fabrice Creuzot (luigifab) <code~luigifab~fr>
 * https://github.com/luigifab/old-ubuntu-human-theme
 * https://www.luigifab.fr/gtk/old-ubuntu-human-theme
 *
 * Forked from
 *  Copyright 2020 | Mike Kazantsev (mk-fg) <mk~fraggod~gmail~com>
 *  https://github.com/mk-fg/clearlooks-phenix-humanity
 *
 * Forked from
 *  Copyright 2011-2014 | Jean-Philippe Fleury
 *  Copyright 2013-2014 | Andrew Shadura
 *  https://github.com/jpfleury/clearlooks-phenix
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 3 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */


* {
	padding: 0;
	outline: 0;
	background-clip: padding-box;

	-GtkToolButton-icon-spacing: 4;
	-GtkTextView-error-underline-color: @error;
	-GtkScrolledWindow-scrollbar-spacing: 3;
	-GtkToolItemGroup-expander-size: 11;

	-GtkIMHtml-hyperlink-color: @link;
	-GtkHTML-link-color: @link;
	-WnckTasklist-fade-overlay-rect: 0;

	-gtk-icon-style: regular;
}

view,
.view,
view text,
.view text,
iconview text,
textview text {
	color: @theme_text;
	background: @theme_base;
}

.background {
	color: @theme_fg;
	background: @theme_bg;
}

.link,
.link > label,
label > link {
	text-decoration: underline;
	color: @link;
}

*:selected,
*:selected:focus,
selection {
	color: @theme_selected_fg;
	background: @theme_selected_bg;
}

*:disabled {
	color: @insensitive_fg;
	text-shadow: 0.5px 1px @insensitive_text_shadow;
}

paper {
	border: 1px solid black;
	background: white;
}

/* --- tooltip --- */

tooltip,
tooltip.background,
.tooltip,
.tooltip.background {
	color: @theme_tooltip_fg;
	border: 1px solid @theme_tooltip_border;
	background: @theme_tooltip_bg;
}

/* --- spinner animation --- *
 * awf-gtk3: ../../../../src/cairo-surface.c :1734 : cairo_surface_mark_dirty_rectangle:  l'assertion « ! _cairo_surface_has_mime_data (surface) » a échoué.

@keyframes spinner {
	to { -gtk-icon-transform: rotate(1turn); }
}

spinner {
	color: @theme_fg;
	opacity: 0;
}

spinner:checked {
	animation: spinner 1s infinite steps(10);
	opacity: 1;
}

spinner:checked:disabled { opacity: 0.5; } */
