/**
 * Copyright 2020 | Fabrice Creuzot (luigifab) <code~luigifab~fr>
 * https://github.com/luigifab/old-ubuntu-human-theme
 * https://www.luigifab.fr/gtk/old-ubuntu-human-theme
 *
 * Forked from
 *  Copyright 2020 | Mike Kazantsev (mk-fg) <mk~fraggod~gmail~com>
 *  https://github.com/mk-fg/clearlooks-phenix-humanity
 *
 * Forked from
 *  Copyright 2011-2014 | Jean-Philippe Fleury
 *  Copyright 2013-2014 | Andrew Shadura
 *  https://github.com/jpfleury/clearlooks-phenix
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 3 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

/* --- panel --- */

.mate-panel-menu-bar,
.mate-panel-menu-bar menubar,
.mate-panel-menu-bar button,
#PanelPlug,
#PanelPlug button,
#PanelApplet,
#PanelApplet button,
PanelApplet,
PanelApplet button,
PanelToplevel.background {
	border: 0;
	background: @theme_bg;
}

.mate-panel-menu-bar menubar {
	margin: 0 8px 0 0;
	padding: 0;
}

.mate-panel-menu-bar menubar > menuitem {
	margin: 0;
	padding: 3px 5px 3px 9px;
	border-radius: 0;
}

.mate-panel-menu-bar menubar > menuitem separator {
	margin: 4px 6px 3px;
}

/* --- system-monitor-applet --- */

.mate-panel-menu-bar .multiload-applet box.horizontal {
	padding: 1px 0 2px;
}

.mate-panel-menu-bar .multiload-applet box.vertical {
	border: 0;
}

.mate-panel-menu-bar .multiload-applet box.vertical frame {
	margin: 0;
	padding: 0;
	border: 1px solid @frame_border;
}

.mate-panel-menu-bar .multiload-applet box.vertical border {
	margin: 0;
	padding: 0;
	border: 1px solid @frame_shadow_dark;
}

/* --- clock-applet --- */

.mate-panel-menu-bar #clock-applet-button {
	margin: 0;
	border: 0;
}

.mate-panel-menu-bar #clock-applet-button:not(:hover) {
	background: transparent;
}

#MatePanelPopupWindow frame > box > box > box > widget { /* the map border color */
	color: @frame_border;
}

/* --- virtual desktop selector --- */

.mate-panel-menu-bar .wnck-applet {

}

/* --- window list --- */
.mate-panel-menu-bar #tasklist-button {
	border: 0;
	background: none;
}

.mate-panel-menu-bar #tasklist-button box {
	margin: 1px;
	padding: 0 2px;
	border: 1px solid #AB9E92; /* @todo */
	border-radius: 3px;
}

.mate-panel-menu-bar #tasklist-button:checked box {
	padding: 0 2px;
	border: 1px solid #988B7F; /* @todo */
}

/* --- grip for notification area and window list --- */
.mate-panel-menu-bar MatePanelAppletFrameDBus > MatePanelAppletFrameDBus {
	background-image: url("img/pane-separator-grip-horz.svg");
	background-repeat: no-repeat;
	background-position: 2px center;
	background-size: 6px 10px;
}
