
/* --- treeview --- */

treeview, list {
	color: @theme_text;
	background-color: @theme_base;
}

treeview {
	color: @theme_text;
	background-color: @theme_base;
}

treeview row:nth-child(even) {
	background: orange;
}

treeview row:nth-child(odd) {
	background: red;
}

/* --- column headers --- */

treeview header button {
	margin: 0;
	padding: 4px 3px;
	border: 1px solid transparent;
	border-radius: 0;
}
