/**
 * Copyright 2020-2021 | Fabrice Creuzot (luigifab) <code~luigifab~fr>
 * https://github.com/luigifab/human-theme
 * https://www.luigifab.fr/gtk/human-theme
 *
 * Forked from
 *  Copyright 2020 | Mike Kazantsev (mk-fg) <mk~fraggod~gmail~com>
 *  https://github.com/mk-fg/clearlooks-phenix-humanity
 *
 * Forked from
 *  Copyright 2011-2014 | Jean-Philippe Fleury
 *  Copyright 2013-2014 | Andrew Shadura
 *  https://github.com/jpfleury/clearlooks-phenix
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 3 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

@define-color theme_base #FFF;
@define-color theme_bg #E6DDD5;
@define-color theme_fg #101010;
@define-color theme_text #1A1A1A;
@define-color theme_selected_bg #8F5F4A;
@define-color theme_selected_fg #FFF;
@define-color theme_tooltip_bg #F5F5B5;
@define-color theme_tooltip_fg #000;
@define-color theme_tooltip_border shade(@theme_tooltip_bg, 0.63); /* #C2C250 instead of #C2C24E */

@define-color link blue;
@define-color visited_link shade(@link, 0.2);
@define-color error #C00;
@define-color insensitive_text_shadow alpha(@theme_base, 0.5);
/* #A28F7E */ @define-color insensitive_fg shade(@theme_bg, 0.65);
/* #C9B9AB */ @define-color checkradio shade(@theme_bg, 0.839);

@import url("gtk-shade.css");
@import url("base.css");
@import url("containers.css");
@import url("inputs.css");
@import url("sliders.css");
@import url("scrollbars.css");
@import url("menu.css");
@import url("tables.css");
@import url("mate.css");
@import url("xfce.css");
@import url("user.css");